# Excloure del repositori
# Fitxers i directoris del Maven
target/
# Fitxers de projecte de Eclipse
.classpath
.project
.settings/
# Fitxers de projecte de IntelliJ IDEA
*.iml
.idea/
# Fitxers de projecte de Netbeans
nb-configuration.xml
#
# Fitxes de configuració específics de l'aplicació
/signaturewebtester/test.properties
/signaturewebtester/plugin.properties
/signaturewebtester/timestamp.properties
/firmanocripto/doc
/fire/screenshots_renovacio_cert
/fire/screenshots_firma
/firmanocripto/test.properties
/fire/doc/fire_mapping_test.properties
/miniappletinserversia/config/sia_mapping.properties
/nebula/pluginib-signatureweb-nebula/binari_bin_signed.csig
/nebula/pluginib-signatureweb-nebula/nebula.properties
/nebula/pluginib-signatureweb-nebula/pdf-signat.pdf
/nebula/pluginib-signatureweb-nebula/sample_xml_signed.xsig
