# Excloure del repositori
# Fitxers i directoris del Maven
target/
# Fitxers de projecte de Eclipse
.classpath
.project
.settings/
# Fitxers de projecte de IntelliJ IDEA
*.iml
.idea/
# Fitxers de projecte de Netbeans
nb-configuration.xml
#
# Fitxes de configuració específics de l'aplicació
/signaturewebtester/test.properties
/signaturewebtester/plugin.properties
/signaturewebtester/timestamp.properties
/firmanocripto/doc
/fire/screenshots_renovacio_cert
/fire/screenshots_firma
/firmanocripto/test.properties
/fire/doc/fire_mapping_test.properties
/miniappletinserversia/config/sia_mapping.properties
/nebula/pluginib-signatureweb-nebula/binari_bin_signed.csig
/nebula/pluginib-signatureweb-nebula/nebula.properties
/nebula/pluginib-signatureweb-nebula/pdf-signat.pdf
/nebula/pluginib-signatureweb-nebula/sample_xml_signed.xsig
/nebula/pluginib-signatureweb-nebula/results
/nebula/vintegris-nebula_apis_generator/Cades.doc
/nebula/vintegris-nebula_apis_generator/Cades.odt
/nebula/vintegris-nebula_apis_generator/Xades.doc
/nebula/vintegris-nebula_apis_generator/Xades.odt
/fire/doc/exemple_generar_certificat_i_firmar/FIRMA-FORMULARI-1-43096845C.pdf
/fire/doc/exemple_generar_certificat_i_firmar/Captures.odt
/firmanocripto/aaa_manual-screen-fusion-signat_FIRMA_NO_CRIPTO_caib_dev_30_08_2024.pdf
/firmanocripto/autoritat_portuària
/fire/cert-fire-pro-caib/fire-portafib-caib.jks
/fire/cert-fire-pro-caib/fire-portafib-caib_CADUCAT_2025.jks
/fire/cert-fire-pro-caib/fire.caib.es.cer
/fire/cert-fire-pro-caib/installCertToCacerts.bat
/fire/cert-fire-pro-caib/log_fire_pro.txt
/nebula/pluginib-signatureweb-nebula/src/test/java/org/fundaciobit/pluginsib/signatureweb/nebula/MyNebulaTester.java
/nebula/pluginib-signatureweb-nebula/test.properties
/miniappletinserversia/test.properties
/fortress/test.log
/fortress/test.properties
/nebula/pluginib-signatureweb-nebula/certificate.json
/nebula/pluginib-signatureweb-nebula/certificate_api.json
/nebula/pluginib-signatureweb-nebula/data.json
/nebula/pluginib-signatureweb-nebula/fnmt.p12
/nebula/pluginib-signatureweb-nebula/nebula_anadal.cer
/nebula/pluginib-signatureweb-nebula/nebula_anadal.cert
/nebula/vintegris-nebula-api-client-v1
/nebula/vintegris-nebula-api-server-digital-signature-v1
/nebula/vintegris-nebula_apis_generator/pom - amb server.xml
/nebula/vintegris-nebula_apis_generator/openapi/combined-api.json
/nebula/vintegris-nebula_apis_generator/openapi/authentication - original.json
/nebula_API_CENTRALITZADA
/nebula/vintegris-nebula-api-client-authentication-v1/.github
/nebula/vintegris-nebula-api-client-authentication-v1/gradle
/nebula/vintegris-nebula-api-client-authentication-v1/.openapi-generator-ignore
/nebula/vintegris-nebula-api-client-authentication-v1/.project
/nebula/vintegris-nebula-api-client-authentication-v1/.travis.yml
/nebula/vintegris-nebula-api-client-authentication-v1/build.gradle
/nebula/vintegris-nebula-api-client-authentication-v1/build.sbt
/nebula/vintegris-nebula-api-client-authentication-v1/git_push.sh
/nebula/vintegris-nebula-api-client-authentication-v1/gradle.properties
/nebula/vintegris-nebula-api-client-authentication-v1/gradlew
/nebula/vintegris-nebula-api-client-authentication-v1/gradlew.bat
/nebula/vintegris-nebula-api-client-authentication-v1/pom_backup.xml
/nebula/vintegris-nebula-api-client-authentication-v1/README.md
/nebula/vintegris-nebula-api-client-authentication-v1/settings.gradle
/nebula/pluginib-signatureweb-nebula/2026-07-13 Primera firma amb Auth SMS pades_basic_signat.pdf
/nebula/pluginib-signatureweb-nebula/Firma-PAdES-en-Servidor_signed_adaptat.pdf
/nebula/pluginib-signatureweb-nebula/PINFO_Tresis_Formulari.pdf
/firmanocripto/plugin.properties
/firmanocripto/results
