{
    "swagger": "2.0",
    "info": {
        "title": "General functions API",
        "version": "v3"
    },
    "externalDocs": {
        "description": "API Documentation",
        "url": "https://portal.nebulaservice.net/docs/developer/en/HTML/nebulasuite-api-overview.html"
    },
    "host": "api-ansmt01.nebulaservice.net",
    "basePath": "/api",
    "tags": [{
            "name": "cades-sign-controller",
            "description": "Cades Sign Controller"
        }, {
            "name": "ooxml-sign-controller",
            "description": "Ooxml Sign Controller"
        }, {
            "name": "pades-sign-controller",
            "description": "Pades Sign Controller"
        }, {
            "name": "pades-sign-controller-v-2",
            "description": "Pades Sign Controller V 2"
        }, {
            "name": "process-controller",
            "description": "Process Controller"
        }, {
            "name": "sign-process-controller",
            "description": "Sign Process Controller"
        }, {
            "name": "signature-controller",
            "description": "Signature Controller"
        }, {
            "name": "signature-controller-v-2",
            "description": "Signature Controller V 2"
        }, {
            "name": "xades-sign-controller",
            "description": "Xades Sign Controller"
        }
    ],
    "paths": {
        "/api/v1/cadessign/sign": {
            "post": {
                "tags": ["cades-sign-controller"],
                "summary": "cadesSignature",
                "operationId": "cadesSignatureUsingPOST",
                "consumes": ["multipart/form-data"],
                "produces": ["*/*"],
                "parameters": [{
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization token",
                        "required": false,
                        "type": "string"
                    }, {
                        "name": "file",
                        "in": "formData",
                        "description": "file",
                        "required": false,
                        "type": "file"
                    }, {
                        "in": "formData",
                        "name": "cadesSignatureReqDTO",
                        "description": "cadesSignatureReqDTO",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CadesSignatureReqDTO"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/SignatureResponseDTO"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            },
                            "security": [{
                                    "Authorization": []
                                }
                            ]
        },
        "/api/v1/cadessign/validate": {
            "post": {
                "tags": ["cades-sign-controller"],
                "summary": "cadesValidate",
                "operationId": "cadesValidateUsingPOST",
                "consumes": ["multipart/form-data"],
                "produces": ["*/*"],
                "parameters": [{
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization token",
                        "required": false,
                        "type": "string"
                    }, {
                        "name": "signedFile",
                        "in": "formData",
                        "description": "signedFile",
                        "required": false,
                        "type": "file"
                    }, {
                        "name": "originalFile",
                        "in": "formData",
                        "description": "originalFile",
                        "required": false,
                        "type": "file"
                    }, {
                        "in": "formData",
                        "name": "cadesValidationDTO",
                        "description": "cadesValidationDTO",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CadesValidationDTO"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            }
        },
        
        "/api/v1/ooxml/sign": {
            "post": {
                "tags": ["ooxml-sign-controller"],
                "summary": "ooxmlSignature",
                "operationId": "ooxmlSignatureUsingPOST",
                "consumes": ["multipart/form-data"],
                "produces": ["*/*"],
                "parameters": [{
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization token",
                        "required": false,
                        "type": "string"
                    }, {
                        "name": "file",
                        "in": "formData",
                        "description": "file",
                        "required": true,
                        "type": "file"
                    }, {
                        "in": "formData",
                        "name": "request",
                        "description": "request",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/OoxmlSignatureRequestVM"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/OoxmlSignatureResponseDTO"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            }
        },
        "/api/v1/padessign/sign": {
            "post": {
                "tags": ["pades-sign-controller"],
                "summary": "padesSignature",
                "operationId": "padesSignatureUsingPOST",
                "consumes": ["multipart/form-data"],
                "produces": ["*/*"],
                "parameters": [{
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization token",
                        "required": false,
                        "type": "string"
                    }, {
                        "name": "file",
                        "in": "formData",
                        "description": "file",
                        "required": true,
                        "type": "file"
                    }, {
                        "name": "images",
                        "in": "formData",
                        "description": "images",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "file"
                        },
                        "collectionFormat": "multi"
                    }, {
                        "in": "formData",
                        "name": "padesSignatureReqDTO",
                        "description": "padesSignatureReqDTO",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/PadesSignatureDTO"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/SignatureResponseDTO"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            }
        },
        "/api/v1/padessign/timestamp": {
            "post": {
                "tags": ["pades-sign-controller"],
                "summary": "padesTimestamp",
                "operationId": "padesTimestampUsingPOST",
                "consumes": ["multipart/form-data"],
                "produces": ["*/*"],
                "parameters": [{
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization token",
                        "required": false,
                        "type": "string"
                    }, {
                        "name": "file",
                        "in": "formData",
                        "description": "file",
                        "required": true,
                        "type": "file"
                    }, {
                        "in": "formData",
                        "name": "padesTimestampVM",
                        "description": "padesTimestampVM",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/PadesTimestampVM"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/SignatureResponseDTO"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            }
        },
        "/api/v1/padessign/validate": {
            "post": {
                "tags": ["pades-sign-controller"],
                "summary": "Execute validation of a document",
                "operationId": "padesValidateUsingPOST",
                "consumes": ["multipart/form-data"],
                "produces": ["*/*"],
                "parameters": [{
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization token",
                        "required": false,
                        "type": "string"
                    }, {
                        "name": "signedFile",
                        "in": "formData",
                        "description": "File to be validated",
                        "required": false,
                        "type": "file"
                    }, {
                        "in": "formData",
                        "name": "padesValidationReqDTO",
                        "description": "Parameters needed to execute the validation",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/PadesValidationDTO"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            }
        },
        "/api/v1/padessign/visual": {
            "post": {
                "tags": ["pades-sign-controller"],
                "summary": "padesVisual",
                "operationId": "padesVisualUsingPOST",
                "consumes": ["multipart/form-data"],
                "produces": ["*/*"],
                "parameters": [{
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization token",
                        "required": false,
                        "type": "string"
                    }, {
                        "name": "file",
                        "in": "formData",
                        "description": "file",
                        "required": true,
                        "type": "file"
                    }, {
                        "name": "images",
                        "in": "formData",
                        "description": "images",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "file"
                        },
                        "collectionFormat": "multi"
                    }, {
                        "in": "formData",
                        "name": "padesVisualReqDTO",
                        "description": "padesVisualReqDTO",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/PadesVisualDTO"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/SignatureResponseDTO"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            }
        },
        "/api/v1/xadessign/validate": {
            "post": {
                "tags": ["xades-sign-controller"],
                "summary": "xadesValidate",
                "operationId": "xadesValidateUsingPOST",
                "consumes": ["multipart/form-data"],
                "produces": ["*/*"],
                "parameters": [ {
                        "name": "signedFile",
                        "in": "formData",
                        "description": "signedFile",
                        "required": false,
                        "type": "file"
                    }, {
                        "name": "originalFile",
                        "in": "formData",
                        "description": "originalFile",
                        "required": false,
                        "type": "file"
                    }, {
                        "in": "formData",
                        "name": "xadesValidationDTO",
                        "description": "xadesValidationDTO",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/XadesValidationDTO"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
                ,
                                "security": [{
                                        "Authorization": []
                                    }
                                ]
            }
        },
        "/api/v2/padessign/sign": {
            "post": {
                "tags": ["pades-sign-controller-v-2"],
                "summary": "padesSignature",
                "operationId": "padesSignatureUsingPOST_1",
                "consumes": ["multipart/form-data"],
                "produces": ["*/*"],
                "parameters": [{
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization token",
                        "required": false,
                        "type": "string"
                    }, {
                        "name": "file",
                        "in": "formData",
                        "description": "file",
                        "required": true,
                        "type": "file"
                    }, {
                        "name": "images",
                        "in": "formData",
                        "description": "images",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "file"
                        },
                        "collectionFormat": "multi"
                    }, {
                        "in": "formData",
                        "name": "padesSignatureReqDTO",
                        "description": "padesSignatureReqDTO",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/PadesSignatureDTOV2"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/SignatureResponseDTO"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            }
        },
        "/api/v2/padessign/visual": {
            "post": {
                "tags": ["pades-sign-controller-v-2"],
                "summary": "padesVisual",
                "operationId": "padesVisualUsingPOST_1",
                "consumes": ["multipart/form-data"],
                "produces": ["*/*"],
                "parameters": [{
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization token",
                        "required": false,
                        "type": "string"
                    }, {
                        "name": "file",
                        "in": "formData",
                        "description": "file",
                        "required": true,
                        "type": "file"
                    }, {
                        "name": "images",
                        "in": "formData",
                        "description": "images",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "file"
                        },
                        "collectionFormat": "multi"
                    }, {
                        "in": "formData",
                        "name": "padesVisualReqDTO",
                        "description": "padesVisualReqDTO",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/PadesVisualDTOV2"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/SignatureResponseDTO"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
                ,
                                "security": [{
                                        "Authorization": []
                                    }
                                ]
            }
        },
        "/api/v2/xadessign/sign": {
            "post": {
                "tags": ["xades-sign-controller"],
                "summary": "xadesSignature",
                "operationId": "xadesSignatureUsingPOST_1",
                "consumes": ["multipart/form-data"],
                "produces": ["*/*"],
                "parameters": [{
                        "name": "file",
                        "in": "formData",
                        "description": "file",
                        "required": false,
                        "type": "file"
                    }, {
                        "in": "formData",
                        "name": "xadesSignatureReqDTO",
                        "description": "xadesSignatureReqDTO",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/XadesSignatureReqDTO"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/SignatureResponseDTO"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "security": [{
                        "Authorization": []
                    }
                ]
            }
        }
    },
    "definitions": {
        "AcceptDelegationDTO": {
            "type": "object",
            "properties": {
                "idcert": {
                    "type": "string"
                },
                "pin": {
                    "type": "string"
                }
            },
            "title": "AcceptDelegationDTO"
        },
        "ActivateCertificateDTO": {
            "type": "object",
            "properties": {
                "pin": {
                    "type": "string"
                }
            },
            "title": "ActivateCertificateDTO"
        },
        "AssignTokenDTO": {
            "type": "object",
            "properties": {
                "userid": {
                    "type": "string"
                }
            },
            "title": "AssignTokenDTO"
        },
        "AuthTypeDTO": {
            "type": "object",
            "properties": {
                "authType": {
                    "type": "string"
                }
            },
            "title": "AuthTypeDTO"
        },
        "AuthTypeListDTO": {
            "type": "object",
            "properties": {
                "authTypeList": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "challenge": {
                    "type": "string"
                },
                "token": {
                    "type": "string"
                },
                "tokenLevel": {
                    "type": "integer",
                    "format": "int32"
                }
            },
            "title": "AuthTypeListDTO"
        },
        "BasicGroupDTO": {
            "type": "object",
            "properties": {
                "groupid": {
                    "type": "string"
                }
            },
            "title": "BasicGroupDTO"
        },
        "BasicGroupV2DTO": {
            "type": "object",
            "properties": {
                "groupid": {
                    "type": "string"
                },
                "userid": {
                    "type": "string"
                }
            },
            "title": "BasicGroupV2DTO"
        },
        "CAInfoDTO": {
            "type": "object",
            "properties": {
                "algorithm": {
                    "type": "string"
                },
                "caId": {
                    "type": "string"
                },
                "caName": {
                    "type": "string"
                },
                "keyLength": {
                    "type": "integer",
                    "format": "int32"
                },
                "policyParams": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "object"
                    }
                }
            },
            "title": "CAInfoDTO"
        },
        "CAInfoDTOV2": {
            "type": "object",
            "properties": {
                "algorithm": {
                    "type": "string"
                },
                "caId": {
                    "type": "string"
                },
                "caName": {
                    "type": "string"
                },
                "documents": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "object"
                    }
                },
                "keyLength": {
                    "type": "integer",
                    "format": "int32"
                },
                "policyParams": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "object"
                    }
                }
            },
            "title": "CAInfoDTOV2"
        },
        "CAInfoDTOV3": {
            "type": "object",
            "properties": {
                "algorithm": {
                    "type": "string"
                },
                "caId": {
                    "type": "string"
                },
                "caName": {
                    "type": "string"
                },
                "documents": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/CAInfoDTOV3Document"
                    }
                },
                "keyLength": {
                    "type": "integer",
                    "format": "int32"
                },
                "parameters": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/CAInfoDTOV3Parameter"
                    }
                }
            },
            "title": "CAInfoDTOV3"
        },
        "CAInfoDTOV3Document": {
            "type": "object",
            "properties": {
                "documentId": {
                    "type": "string"
                },
                "mandatory": {
                    "type": "boolean"
                }
            },
            "title": "CAInfoDTOV3Document"
        },
        "CAInfoDTOV3Parameter": {
            "type": "object",
            "properties": {
                "key": {
                    "type": "string"
                },
                "mandatory": {
                    "type": "boolean"
                },
                "validValues": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "value": {
                    "type": "string"
                }
            },
            "title": "CAInfoDTOV3Parameter"
        },
        "CAInfoDTOV4": {
            "type": "object",
            "properties": {
                "algorithm": {
                    "type": "string"
                },
                "caId": {
                    "type": "string"
                },
                "caName": {
                    "type": "string"
                },
                "documents": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/CAInfoDTOV3Document"
                    }
                },
                "issueType": {
                    "type": "array",
                    "items": {
                        "type": "string",
                        "enum": ["SOFTWARE", "KEYSTORE", "CENTRALIZED", "P12ISSUANCE"]
                    }
                },
                "keyLength": {
                    "type": "integer",
                    "format": "int32"
                },
                "parameters": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/CAInfoDTOV3Parameter"
                    }
                },
                "remoteVideoIdentificationAllowed": {
                    "type": "boolean"
                }
            },
            "title": "CAInfoDTOV4"
        },
        "CFullySignReqDTO": {
            "type": "object",
            "properties": {
                "mechanism": {
                    "type": "string"
                },
                "pin": {
                    "type": "string"
                },
                "signdata": {
                    "type": "string"
                },
                "signingId": {
                    "type": "string"
                }
            },
            "title": "CFullySignReqDTO"
        },
        "CLoginRequestDTO": {
            "type": "object",
            "properties": {
                "pin": {
                    "type": "string"
                },
                "signingId": {
                    "type": "string"
                }
            },
            "title": "CLoginRequestDTO"
        },
        "CSessionDTO": {
            "type": "object",
            "properties": {
                "message": {
                    "type": "string"
                },
                "rcSign": {
                    "type": "string"
                }
            },
            "title": "CSessionDTO"
        },
        "CSessionDTOV2": {
            "type": "object",
            "properties": {
                "message": {
                    "type": "string"
                },
                "rcSign": {
                    "type": "string"
                },
                "session": {
                    "type": "string"
                }
            },
            "title": "CSessionDTOV2"
        },
        "CSessionDTOV3": {
            "type": "object",
            "properties": {
                "message": {
                    "type": "string"
                },
                "objId": {
                    "type": "string"
                },
                "rcSign": {
                    "type": "string"
                },
                "session": {
                    "type": "string"
                }
            },
            "title": "CSessionDTOV3"
        },
        "CSignCloseDTO": {
            "type": "object",
            "properties": {
                "session": {
                    "type": "string"
                }
            },
            "title": "CSignCloseDTO"
        },
        "CSignDTO": {
            "type": "object",
            "properties": {
                "message": {
                    "type": "string"
                },
                "rcSign": {
                    "type": "string"
                },
                "signedData": {
                    "type": "string"
                }
            },
            "title": "CSignDTO"
        },
        "CSignReqDTO": {
            "type": "object",
            "properties": {
                "mechanism": {
                    "type": "string"
                },
                "signdata": {
                    "type": "string"
                }
            },
            "title": "CSignReqDTO"
        },
        "CSignReqDTOV2": {
            "type": "object",
            "properties": {
                "mechanism": {
                    "type": "string"
                },
                "session": {
                    "type": "string"
                },
                "signdata": {
                    "type": "string"
                }
            },
            "title": "CSignReqDTOV2"
        },
        "CSignReqDTOV3": {
            "type": "object",
            "properties": {
                "mechanism": {
                    "type": "string"
                },
                "objId": {
                    "type": "string"
                },
                "session": {
                    "type": "string"
                },
                "signdata": {
                    "type": "string"
                }
            },
            "title": "CSignReqDTOV3"
        },
        "CadesSignatureReqDTO": {
            "type": "object",
            "properties": {
                "certId": {
                    "type": "integer",
                    "format": "int32"
                },
                "certPin": {
                    "type": "string"
                },
                "certTicket": {
                    "type": "string"
                },
                "commitmentTypes": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "company": {
                    "type": "string"
                },
                "digestAlgorithm": {
                    "type": "string"
                },
                "fileHash": {
                    "type": "string"
                },
                "fileHashDigestAlgorithm": {
                    "type": "string"
                },
                "fileHashName": {
                    "type": "string"
                },
                "policyDigestAlgorithm": {
                    "type": "string"
                },
                "policyHash": {
                    "type": "string"
                },
                "policyId": {
                    "type": "string"
                },
                "policyQualifier": {
                    "type": "string"
                },
                "signContainer": {
                    "type": "string"
                },
                "signLevel": {
                    "type": "string"
                },
                "signLocation": {
                    "$ref": "#/definitions/SignLocation"
                },
                "signPackage": {
                    "type": "string"
                },
                "signerRoles": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "tsaPWD": {
                    "type": "string"
                },
                "tsaURL": {
                    "type": "string"
                },
                "tsaUSR": {
                    "type": "string"
                },
                "userId": {
                    "type": "string"
                },
                "userUuid": {
                    "type": "string"
                }
            },
            "title": "CadesSignatureReqDTO"
        },
        "CadesValidationDTO": {
            "type": "object",
            "properties": {
                "company": {
                    "type": "string"
                },
                "fileHash": {
                    "type": "string"
                },
                "fileHashDigestAlgorithm": {
                    "type": "string"
                },
                "originalFileB64": {
                    "type": "string"
                },
                "reportFormat": {
                    "type": "string"
                },
                "signedFileB64": {
                    "type": "string"
                },
                "userId": {
                    "type": "string"
                },
                "userUuid": {
                    "type": "string"
                },
                "validationLevel": {
                    "type": "string"
                }
            },
            "title": "CadesValidationDTO"
        },
        "CertIdDTO": {
            "type": "object",
            "properties": {
                "certificateId": {
                    "type": "string"
                }
            },
            "title": "CertIdDTO"
        },
        "CertificateDTO": {
            "type": "object",
            "properties": {
                "alias": {
                    "type": "string"
                },
                "certificate": {
                    "type": "string"
                },
                "certificateId": {
                    "type": "string"
                },
                "dateValidEnd": {
                    "type": "string",
                    "format": "date-time"
                },
                "dateValidStart": {
                    "type": "string",
                    "format": "date-time"
                },
                "issuer": {
                    "type": "string"
                },
                "pap": {
                    "type": "integer",
                    "format": "int32"
                },
                "serialNumber": {
                    "type": "string"
                },
                "signingId": {
                    "type": "string"
                },
                "subject": {
                    "type": "string"
                }
            },
            "title": "CertificateDTO"
        },
        "CertificateDTOV2": {
            "type": "object",
            "properties": {
                "alias": {
                    "type": "string"
                },
                "certType": {
                    "type": "string"
                },
                "certificate": {
                    "type": "string"
                },
                "certificateId": {
                    "type": "string"
                },
                "dateValidEnd": {
                    "type": "string",
                    "format": "date-time"
                },
                "dateValidStart": {
                    "type": "string",
                    "format": "date-time"
                },
                "isUsable": {
                    "type": "string"
                },
                "issuer": {
                    "type": "string"
                },
                "serialNumber": {
                    "type": "string"
                },
                "signingId": {
                    "type": "string"
                },
                "status": {
                    "type": "string"
                },
                "subject": {
                    "type": "string"
                }
            },
            "title": "CertificateDTOV2"
        },
        "CertificateListDTO": {
            "type": "object",
            "properties": {
                "certificatesList": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/CertificateDTO"
                    }
                },
                "totalCertificates": {
                    "type": "integer",
                    "format": "int32"
                }
            },
            "title": "CertificateListDTO"
        },
        "CertificateListDTOV2": {
            "type": "object",
            "properties": {
                "certificatesList": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/CertificateDTOV2"
                    }
                },
                "totalCertificates": {
                    "type": "integer",
                    "format": "int32"
                }
            },
            "title": "CertificateListDTOV2"
        },
        "CertificatePinDTO": {
            "type": "object",
            "properties": {
                "idCert": {
                    "type": "string"
                },
                "pin": {
                    "type": "string"
                }
            },
            "title": "CertificatePinDTO"
        },
        "CertificateRequestDTOV1": {
            "type": "object",
            "properties": {
                "caId": {
                    "type": "integer",
                    "format": "int32"
                },
                "description": {
                    "type": "string"
                },
                "fileList": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/FileIdDTO"
                    }
                },
                "policyParams": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/NameValueParam"
                    }
                },
                "userId": {
                    "type": "string"
                }
            },
            "title": "CertificateRequestDTOV1"
        },
        "CertificateRequestDTOV2": {
            "type": "object",
            "properties": {
                "caId": {
                    "type": "integer",
                    "format": "int32"
                },
                "certificateType": {
                    "type": "string",
                    "enum": ["CENTRALIZED", "KEYSTORE", "SOFTWARE", "P12ISSUANCE"]
                },
                "description": {
                    "type": "string"
                },
                "email": {
                    "type": "string"
                },
                "fileList": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/NebulaIdDocument"
                    }
                },
                "identificationType": {
                    "type": "string",
                    "enum": ["REMOTE_UNASSISTED", "FACE_TO_FACE"]
                },
                "phoneNumber": {
                    "type": "string"
                },
                "policyParams": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    }
                },
                "prefix": {
                    "type": "string"
                },
                "userId": {
                    "type": "string"
                }
            },
            "title": "CertificateRequestDTOV2"
        },
        "CertificateRequestIdDTO": {
            "type": "object",
            "properties": {
                "certificateRequestId": {
                    "type": "string"
                }
            },
            "title": "CertificateRequestIdDTO"
        },
        "CertificateRequestInfoDTO": {
            "type": "object",
            "properties": {
                "acceptanceComment": {
                    "type": "string"
                },
                "acceptanceFile": {
                    "$ref": "#/definitions/FileDao"
                },
                "acceptanceProcessStatus": {
                    "type": "string",
                    "enum": ["PENDING", "PROCESSING", "DENIED", "ACCEPTED", "ERROR", "NONE", "COMPLETED"]
                },
                "acceptanceType": {
                    "type": "string",
                    "enum": ["ALMACENAMIENTO_DIGITALIZADO", "FIRMA_DIGITAL_TITULAR", "FIRMA_DIGITAL_DELEGADA"]
                },
                "algorithm": {
                    "type": "string"
                },
                "caId": {
                    "type": "string"
                },
                "caName": {
                    "type": "string"
                },
                "certificateRequestId": {
                    "type": "string"
                },
                "creationDate": {
                    "$ref": "#/definitions/Timestamp"
                },
                "description": {
                    "type": "string"
                },
                "files": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/FileDao"
                    }
                },
                "idSignProcess": {
                    "type": "string"
                },
                "identificationId": {
                    "type": "string"
                },
                "issueStatus": {
                    "type": "string",
                    "enum": ["REQUEST", "ENROLL", "ISSUED", "ERROR", "PENDING"]
                },
                "keyLength": {
                    "type": "integer",
                    "format": "int32"
                },
                "keystore": {
                    "type": "boolean"
                },
                "keystoreIssued": {
                    "type": "boolean"
                },
                "ownerId": {
                    "type": "string"
                },
                "policyParameters": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/NameValueParam"
                    }
                },
                "raOwnerId": {
                    "type": "string"
                },
                "raRegistratorId": {
                    "type": "string"
                },
                "raRequesterId": {
                    "type": "string"
                },
                "requestStatus": {
                    "type": "string",
                    "enum": ["PENDINGAPPROVAL", "APPROVED", "REJECTED", "CANCELLED", "PENDINGIDENTITY"]
                },
                "requestType": {
                    "type": "string",
                    "enum": ["NEWCERTIFICATE", "RENEWAL"]
                },
                "serial": {
                    "type": "string"
                },
                "software": {
                    "type": "boolean"
                },
                "softwareIssued": {
                    "type": "boolean"
                },
                "statusCert": {
                    "type": "string",
                    "enum": ["ISSUED", "REVOKED", "SUSPENDED", "NOTFOUND", "UNKNOWN"]
                }
            },
            "title": "CertificateRequestInfoDTO"
        },
        "CertificateRequestInfoListDTO": {
            "type": "object",
            "properties": {
                "requestsList": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/CertificateRequestInfoDTO"
                    }
                },
                "totalRequests": {
                    "type": "integer",
                    "format": "int32"
                }
            },
            "title": "CertificateRequestInfoListDTO"
        },
        "ChallengeDTO": {
            "type": "object",
            "properties": {
                "challenge": {
                    "type": "string"
                },
                "token": {
                    "type": "string"
                },
                "tokenLevel": {
                    "type": "integer",
                    "format": "int32"
                }
            },
            "title": "ChallengeDTO"
        },
        "ChallengeVM": {
            "type": "object",
            "required": ["challenge"],
            "properties": {
                "challenge": {
                    "type": "string",
                    "example": "In September",
                    "description": "The challenge response",
                    "allowEmptyValue": false
                }
            },
            "title": "ChallengeVM"
        },
        "ChangeCertDescriptionUsageDTO": {
            "type": "object",
            "properties": {
                "alias": {
                    "type": "string"
                },
                "idcert": {
                    "type": "string"
                }
            },
            "title": "ChangeCertDescriptionUsageDTO"
        },
        "ChangeCertificatePinDTO": {
            "type": "object",
            "properties": {
                "idcert": {
                    "type": "string"
                },
                "oldPin": {
                    "type": "string"
                },
                "pin": {
                    "type": "string"
                }
            },
            "title": "ChangeCertificatePinDTO"
        },
        "ChangeUserPasswordDTO": {
            "type": "object",
            "properties": {
                "newPassword": {
                    "type": "string"
                }
            },
            "title": "ChangeUserPasswordDTO"
        },
        "CorePolicyDTO": {
            "type": "object",
            "properties": {
                "aclName": {
                    "type": "string"
                },
                "agentName": {
                    "type": "string"
                },
                "certType": {
                    "type": "string"
                },
                "dateValidEnd": {
                    "type": "string",
                    "format": "date-time"
                },
                "dateValidStart": {
                    "type": "string",
                    "format": "date-time"
                },
                "enabled": {
                    "type": "string"
                },
                "idAcl": {
                    "type": "string"
                },
                "idCert": {
                    "type": "string"
                },
                "idOwner": {
                    "type": "string"
                },
                "status": {
                    "type": "string"
                },
                "usePin": {
                    "type": "string"
                },
                "userId": {
                    "type": "string"
                },
                "userType": {
                    "type": "string"
                },
                "validIpSource": {
                    "type": "string"
                }
            },
            "title": "CorePolicyDTO"
        },
        "CorePolicyListDTO": {
            "type": "object",
            "properties": {
                "policyList": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/CorePolicyDTO"
                    }
                },
                "totalPolicies": {
                    "type": "integer",
                    "format": "int32"
                }
            },
            "title": "CorePolicyListDTO"
        },
        "CreateGroupDTO": {
            "type": "object",
            "properties": {
                "description": {
                    "type": "string"
                },
                "gid": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                }
            },
            "title": "CreateGroupDTO"
        },
        "CreateProcessVM": {
            "type": "object",
            "properties": {
                "expirationDate": {
                    "type": "integer",
                    "format": "int64",
                    "example": 1562075281,
                    "description": "Expiration date of the process",
                    "allowEmptyValue": false
                },
                "group": {
                    "type": "string",
                    "example": "Group name",
                    "description": "Name of the process group to which the process to be created is to be added",
                    "allowEmptyValue": false
                },
                "metas": {
                    "type": "array",
                    "description": "List of attachments of the selected workflow",
                    "allowEmptyValue": false,
                    "items": {
                        "$ref": "#/definitions/Meta"
                    }
                },
                "startDate": {
                    "type": "integer",
                    "format": "int64",
                    "example": 1562032281,
                    "description": "Date on which the process can be started",
                    "allowEmptyValue": false
                },
                "workflowId": {
                    "type": "integer",
                    "format": "int64",
                    "example": 25,
                    "description": "Workflow identifier",
                    "allowEmptyValue": false
                }
            },
            "title": "CreateProcessVM"
        },
        "CreateTokenRequestDTO": {
            "type": "object",
            "properties": {
                "parameters": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/VinAccessTokenParameterDTO"
                    }
                },
                "tokenType": {
                    "type": "string"
                }
            },
            "title": "CreateTokenRequestDTO"
        },
        "CreateTokenResponseDTO": {
            "type": "object",
            "properties": {
                "tokenid": {
                    "type": "string"
                }
            },
            "title": "CreateTokenResponseDTO"
        },
        "CreateUserDTO": {
            "type": "object",
            "properties": {
                "mail": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "password": {
                    "type": "string"
                },
                "phone": {
                    "type": "string"
                },
                "surname": {
                    "type": "string"
                },
                "userid": {
                    "type": "string"
                }
            },
            "title": "CreateUserDTO"
        },
        "CreationResponse": {
            "type": "object",
            "properties": {
                "group": {
                    "type": "string",
                    "example": 42,
                    "description": "Process group to which you belong",
                    "allowEmptyValue": false
                },
                "id": {
                    "type": "integer",
                    "format": "int64",
                    "example": 25,
                    "description": "Identifier",
                    "allowEmptyValue": false
                }
            },
            "title": "CreationResponse"
        },
        "DelegateCertToGroupDTO": {
            "type": "object",
            "properties": {
                "dateValidEnd": {
                    "type": "string"
                },
                "dateValidStart": {
                    "type": "string"
                },
                "idACL": {
                    "type": "integer",
                    "format": "int32"
                },
                "idcert": {
                    "type": "string"
                },
                "idgroup": {
                    "type": "string"
                },
                "validIpSource": {
                    "type": "string"
                },
                "validPeriodTime": {
                    "type": "string"
                }
            },
            "title": "DelegateCertToGroupDTO"
        },
        "DelegateCertToUserDTO": {
            "type": "object",
            "properties": {
                "dateValidEnd": {
                    "type": "string"
                },
                "dateValidStart": {
                    "type": "string"
                },
                "idACL": {
                    "type": "integer",
                    "format": "int32"
                },
                "idcert": {
                    "type": "string"
                },
                "iduser": {
                    "type": "string"
                },
                "lightpin": {
                    "type": "string"
                },
                "pin": {
                    "type": "string"
                },
                "usepin": {
                    "type": "boolean"
                },
                "validIpSource": {
                    "type": "string"
                },
                "validPeriodTime": {
                    "type": "string"
                }
            },
            "title": "DelegateCertToUserDTO"
        },
        "DelegationDTO": {
            "type": "object",
            "properties": {
                "agentName": {
                    "type": "string"
                },
                "certType": {
                    "type": "string"
                },
                "dateValidEnd": {
                    "type": "string"
                },
                "dateValidStart": {
                    "type": "string"
                },
                "enabled": {
                    "type": "boolean"
                },
                "idACL": {
                    "type": "integer",
                    "format": "int32"
                },
                "idAgent": {
                    "type": "string"
                },
                "idcert": {
                    "type": "string"
                },
                "idowner": {
                    "type": "string"
                },
                "nameACL": {
                    "type": "string"
                },
                "status": {
                    "type": "string"
                },
                "typeAgent": {
                    "type": "string"
                },
                "usepin": {
                    "type": "boolean"
                },
                "validIpSource": {
                    "type": "string"
                }
            },
            "title": "DelegationDTO"
        },
        "DeleteGroupDelegationDTO": {
            "type": "object",
            "properties": {
                "idcert": {
                    "type": "string"
                },
                "idgroup": {
                    "type": "string"
                }
            },
            "title": "DeleteGroupDelegationDTO"
        },
        "DeleteUserDelegationDTO": {
            "type": "object",
            "properties": {
                "idcert": {
                    "type": "string"
                },
                "iduser": {
                    "type": "string"
                }
            },
            "title": "DeleteUserDelegationDTO"
        },
        "DeviceRegistrationDTO": {
            "type": "object",
            "properties": {
                "idDevice": {
                    "type": "string"
                },
                "userAgentHeader": {
                    "type": "string"
                }
            },
            "title": "DeviceRegistrationDTO"
        },
        "DeviceVM": {
            "type": "object",
            "properties": {
                "idDevice": {
                    "type": "string",
                    "example": "55513602-d948-11e9-8a34-2a2ae2dbcce4",
                    "description": "Device identifier",
                    "allowEmptyValue": false
                }
            },
            "title": "DeviceVM"
        },
        "DocumentDTO": {
            "type": "object",
            "properties": {
                "document": {
                    "type": "string"
                },
                "idDocument": {
                    "type": "string"
                }
            },
            "title": "DocumentDTO"
        },
        "DocumentInfoDTO": {
            "type": "object",
            "properties": {
                "filename": {
                    "type": "string"
                },
                "idDoc": {
                    "type": "string"
                },
                "revision": {
                    "type": "integer",
                    "format": "int64"
                },
                "size": {
                    "type": "integer",
                    "format": "int64"
                }
            },
            "title": "DocumentInfoDTO"
        },
        "DocumentToModifyDto": {
            "type": "object",
            "properties": {
                "profileField": {
                    "type": "string"
                },
                "uploadId": {
                    "type": "string"
                }
            },
            "title": "DocumentToModifyDto"
        },
        "EditGroupDTO": {
            "type": "object",
            "properties": {
                "description": {
                    "type": "string"
                },
                "gid": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                }
            },
            "title": "EditGroupDTO"
        },
        "EditGroupDTOV2": {
            "type": "object",
            "properties": {
                "description": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                }
            },
            "title": "EditGroupDTOV2"
        },
        "EditUserDTO": {
            "type": "object",
            "properties": {
                "mail": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "phone": {
                    "type": "string"
                },
                "surname": {
                    "type": "string"
                },
                "userid": {
                    "type": "string"
                }
            },
            "title": "EditUserDTO"
        },
        "EditUserViewModel": {
            "type": "object",
            "properties": {
                "mail": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "phone": {
                    "type": "string"
                },
                "surname": {
                    "type": "string"
                }
            },
            "title": "EditUserViewModel"
        },
        "ExecuteStepDTO": {
            "type": "object",
            "properties": {
                "action": {
                    "type": "string",
                    "example": "OK",
                    "description": "Action to be taken",
                    "allowEmptyValue": false,
                    "enum": ["OK", "DENY"]
                },
                "certificates": {
                    "type": "array",
                    "description": "Certificates identifiers and pins list (only in the multi cert sign step)",
                    "allowEmptyValue": false,
                    "items": {
                        "$ref": "#/definitions/CertificatePinDTO"
                    }
                },
                "comment": {
                    "type": "string",
                    "example": "comment",
                    "description": "Comment added when executing the step (optional)",
                    "allowEmptyValue": false
                },
                "consentChecked": {
                    "type": "boolean",
                    "example": false,
                    "description": "Signature consent flag with nebulaSIGN",
                    "allowEmptyValue": false
                },
                "delegatedUser": {
                    "type": "string",
                    "example": "delegatedUser",
                    "description": "The user whose signature is delegated",
                    "allowEmptyValue": false
                },
                "filename": {
                    "type": "string",
                    "example": "name.pdf",
                    "description": "File name (only for the upload step)",
                    "allowEmptyValue": false
                },
                "idProcess": {
                    "type": "integer",
                    "format": "int64",
                    "example": 25,
                    "description": "Process identifier to be executed",
                    "allowEmptyValue": false
                },
                "idProcesses": {
                    "type": "array",
                    "example": [25, 30],
                    "description": "Processes identifiers to be executed",
                    "allowEmptyValue": false,
                    "items": {
                        "type": "integer",
                        "format": "int64"
                    }
                },
                "metas": {
                    "type": "array",
                    "description": "Changed attachment (only for the modify meta step)",
                    "allowEmptyValue": false,
                    "items": {
                        "$ref": "#/definitions/Meta"
                    }
                },
                "otp": {
                    "type": "string",
                    "example": "response challenge",
                    "description": "Challenge response (only in OTP sign step)",
                    "allowEmptyValue": false
                },
                "positions": {
                    "type": "string",
                    "description": "Signature positions in the document",
                    "allowEmptyValue": false
                }
            },
            "title": "ExecuteStepDTO"
        },
        "ExecuteStepVM": {
            "type": "object",
            "properties": {
                "action": {
                    "type": "string",
                    "example": "OK",
                    "description": "Action to be taken",
                    "allowEmptyValue": false,
                    "enum": ["OK", "DENY"]
                },
                "comment": {
                    "type": "string",
                    "example": "comment",
                    "description": "Comment added when executing the step (optional)",
                    "allowEmptyValue": false
                },
                "consentChecked": {
                    "type": "boolean",
                    "example": false,
                    "description": "Signature consent flag with nebulaSIGN",
                    "allowEmptyValue": false
                },
                "delegatedUser": {
                    "type": "string",
                    "example": "delegatedUser",
                    "description": "The user whose signature is delegated",
                    "allowEmptyValue": false
                },
                "filename": {
                    "type": "string",
                    "example": "name.pdf",
                    "description": "File name (only for the upload step)",
                    "allowEmptyValue": false
                },
                "idCert": {
                    "type": "string",
                    "example": 3,
                    "description": "Certificate signing identifier (only in the sign step)",
                    "allowEmptyValue": false
                },
                "idProcess": {
                    "type": "integer",
                    "format": "int64",
                    "example": 25,
                    "description": "Process identifier to be executed",
                    "allowEmptyValue": false
                },
                "idProcesses": {
                    "type": "array",
                    "items": {
                        "type": "integer",
                        "format": "int64"
                    }
                },
                "metas": {
                    "type": "array",
                    "description": "Changed attachment (only for the modify meta step)",
                    "allowEmptyValue": false,
                    "items": {
                        "$ref": "#/definitions/Meta"
                    }
                },
                "otp": {
                    "type": "string",
                    "example": "response challenge",
                    "description": "Challenge response (only in OTP sign step)",
                    "allowEmptyValue": false
                },
                "pin": {
                    "type": "string",
                    "example": 1234,
                    "description": "Certificate PIN (only in the signature step and if the certificate needs it)",
                    "allowEmptyValue": false
                },
                "positions": {
                    "type": "string",
                    "description": "Signature positions in the document",
                    "allowEmptyValue": false
                }
            },
            "title": "ExecuteStepVM"
        },
        "ExportCertRequestDTO": {
            "type": "object",
            "properties": {
                "passPhrase": {
                    "type": "string"
                }
            },
            "title": "ExportCertRequestDTO"
        },
        "ExportedCertificateDTO": {
            "type": "object",
            "properties": {
                "derEncodedPkcs12": {
                    "type": "string"
                }
            },
            "title": "ExportedCertificateDTO"
        },
        "File": {
            "type": "object",
            "properties": {
                "absolute": {
                    "type": "boolean"
                },
                "absoluteFile": {
                    "$ref": "#/definitions/File"
                },
                "absolutePath": {
                    "type": "string"
                },
                "canonicalFile": {
                    "$ref": "#/definitions/File"
                },
                "canonicalPath": {
                    "type": "string"
                },
                "directory": {
                    "type": "boolean"
                },
                "executable": {
                    "type": "boolean"
                },
                "file": {
                    "type": "boolean"
                },
                "freeSpace": {
                    "type": "integer",
                    "format": "int64"
                },
                "hidden": {
                    "type": "boolean"
                },
                "lastModified": {
                    "type": "integer",
                    "format": "int64"
                },
                "name": {
                    "type": "string"
                },
                "parent": {
                    "type": "string"
                },
                "parentFile": {
                    "$ref": "#/definitions/File"
                },
                "path": {
                    "type": "string"
                },
                "readable": {
                    "type": "boolean"
                },
                "totalSpace": {
                    "type": "integer",
                    "format": "int64"
                },
                "usableSpace": {
                    "type": "integer",
                    "format": "int64"
                },
                "writable": {
                    "type": "boolean"
                }
            },
            "title": "File"
        },
        "FileDao": {
            "type": "object",
            "properties": {
                "documentId": {
                    "type": "integer",
                    "format": "int32"
                },
                "filename": {
                    "type": "string"
                },
                "profileField": {
                    "type": "string"
                }
            },
            "title": "FileDao"
        },
        "FileIdDTO": {
            "type": "object",
            "properties": {
                "fileId": {
                    "type": "string"
                }
            },
            "title": "FileIdDTO"
        },
        "FirstFactorDTO": {
            "type": "object",
            "properties": {
                "clientid": {
                    "type": "string"
                },
                "password": {
                    "type": "string"
                },
                "userid": {
                    "type": "string"
                }
            },
            "title": "FirstFactorDTO"
        },
        "GetChallengeResponse": {
            "type": "object",
            "properties": {
                "challenge": {
                    "type": "string"
                },
                "lvl": {
                    "type": "string"
                },
                "session": {
                    "type": "string"
                },
                "token": {
                    "type": "string"
                }
            },
            "title": "GetChallengeResponse"
        },
        "GetKeyStoreRequestsDTO": {
            "type": "object",
            "properties": {
                "limit": {
                    "type": "integer",
                    "format": "int32"
                },
                "offset": {
                    "type": "integer",
                    "format": "int32"
                },
                "policyName": {
                    "type": "string"
                },
                "requestStatus": {
                    "type": "string",
                    "enum": ["PENDINGAPPROVAL", "APPROVED", "REJECTED", "CANCELLED", "PENDINGIDENTITY"]
                },
                "statusFilter": {
                    "type": "array",
                    "items": {
                        "type": "string",
                        "enum": ["PENDING", "REQUEST", "ENROLL", "ISSUED"]
                    }
                }
            },
            "title": "GetKeyStoreRequestsDTO"
        },
        "GroupDTO": {
            "type": "object",
            "properties": {
                "description": {
                    "type": "string"
                },
                "gid": {
                    "type": "string"
                },
                "guid": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "source": {
                    "type": "string",
                    "enum": ["REMOTE", "CLOUD"]
                }
            },
            "title": "GroupDTO"
        },
        "HttpHeaderDTO": {
            "type": "object",
            "properties": {
                "key": {
                    "type": "string"
                },
                "value": {
                    "type": "string"
                }
            },
            "title": "HttpHeaderDTO"
        },
        "IdentityInfoDTO": {
            "type": "object",
            "properties": {
                "companyName": {
                    "type": "string"
                },
                "creationDate": {
                    "type": "integer",
                    "format": "int64"
                },
                "email": {
                    "type": "string"
                },
                "fullName": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "identityValidationMethod": {
                    "type": "string"
                },
                "identityValidationOperator": {
                    "$ref": "#/definitions/ValidationOperatorDTO"
                },
                "identityValidationProvider": {
                    "type": "string"
                },
                "identityValidationProviderData": {
                    "type": "string"
                },
                "opIdentityValidationProviderData": {
                    "type": "string"
                },
                "phoneNumber": {
                    "type": "string"
                },
                "status": {
                    "type": "string"
                },
                "tenantId": {
                    "type": "string"
                }
            },
            "title": "IdentityInfoDTO"
        },
        "IdentityInfoResponseDTO": {
            "type": "object",
            "properties": {
                "code": {
                    "type": "integer",
                    "format": "int32"
                },
                "content": {
                    "$ref": "#/definitions/IdentityInfoDTO"
                },
                "message": {
                    "type": "string"
                }
            },
            "title": "IdentityInfoResponseDTO"
        },
        "ImportCertificateDTO": {
            "type": "object",
            "properties": {
                "pfxInBase64": {
                    "type": "string"
                },
                "pfxPassword": {
                    "type": "string"
                }
            },
            "title": "ImportCertificateDTO"
        },
        "InfoGroupDTO": {
            "type": "object",
            "properties": {
                "description": {
                    "type": "string"
                },
                "gid": {
                    "type": "string"
                },
                "guid": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "source": {
                    "type": "string",
                    "enum": ["REMOTE", "CLOUD"]
                },
                "usersOfGroup": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                }
            },
            "title": "InfoGroupDTO"
        },
        "InputStream": {
            "type": "object",
            "title": "InputStream"
        },
        "InvolvedUser": {
            "type": "object",
            "properties": {
                "action": {
                    "type": "string",
                    "example": "OK",
                    "description": "Accept or Reject the step. Can be: OK | DENY",
                    "allowEmptyValue": false,
                    "enum": ["OK", "DENY"]
                },
                "comment": {
                    "type": "string",
                    "example": "Comment regarding the step",
                    "description": "The message introduced by the user if any",
                    "allowEmptyValue": false
                },
                "timestamp": {
                    "type": "integer",
                    "format": "int64",
                    "example": 1568360797902,
                    "description": "Time that the user executed the step",
                    "allowEmptyValue": false
                },
                "userId": {
                    "type": "string",
                    "example": "owner",
                    "description": "The user that performed the operation",
                    "allowEmptyValue": false
                },
                "userType": {
                    "type": "string",
                    "example": "SIGNER",
                    "description": "type of the user. Can be: SIGNER",
                    "allowEmptyValue": false,
                    "enum": ["SIGNER", "EXTERNAL"]
                }
            },
            "title": "InvolvedUser"
        },
        "IssueSoftCertificateViewModel": {
            "type": "object",
            "properties": {
                "csr": {
                    "type": "string"
                }
            },
            "title": "IssueSoftCertificateViewModel"
        },
        "IssueViewModel": {
            "type": "object",
            "properties": {
                "pin": {
                    "type": "string"
                },
                "publish": {
                    "type": "boolean"
                }
            },
            "title": "IssueViewModel"
        },
        "KeystoreRequestsDaoV1": {
            "type": "object",
            "properties": {
                "acctanceFilename": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    }
                },
                "authority": {
                    "type": "string"
                },
                "certificate": {
                    "type": "string"
                },
                "coreStatus": {
                    "type": "string",
                    "enum": ["REQUEST", "ENROLL", "ISSUED", "ERROR", "PENDING"]
                },
                "csrParameters": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    }
                },
                "dateCreation": {
                    "type": "string"
                },
                "description": {
                    "type": "string"
                },
                "filenames": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Map«string,string»"
                    }
                },
                "files": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "id": {
                    "type": "string"
                },
                "idAcceptanceFile": {
                    "type": "string"
                },
                "idCompany": {
                    "type": "string"
                },
                "idSignProcess": {
                    "type": "string"
                },
                "idUserCertificateOwner": {
                    "type": "string"
                },
                "idUserRaRegistrator": {
                    "type": "string"
                },
                "idUserRaRequestor": {
                    "type": "string"
                },
                "keyAlgorithm": {
                    "type": "string"
                },
                "keyLen": {
                    "type": "integer",
                    "format": "int32"
                },
                "keyStore": {
                    "type": "boolean"
                },
                "keyStoreEmail": {
                    "type": "string"
                },
                "keyStoreIssued": {
                    "type": "boolean"
                },
                "keyStoreUser": {
                    "type": "string"
                },
                "policyName": {
                    "type": "string"
                },
                "policyParameters": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    }
                },
                "registratorComment": {
                    "type": "string"
                },
                "serial": {
                    "type": "string"
                },
                "signStatus": {
                    "type": "string",
                    "enum": ["PENDING", "PROCESSING", "DENIED", "ACCEPTED", "ERROR", "NONE", "COMPLETED"]
                },
                "signType": {
                    "type": "string",
                    "enum": ["ALMACENAMIENTO_DIGITALIZADO", "FIRMA_DIGITAL_TITULAR", "FIRMA_DIGITAL_DELEGADA"]
                },
                "signatureAlgorithm": {
                    "type": "string"
                },
                "software": {
                    "type": "boolean"
                },
                "softwareIssued": {
                    "type": "boolean"
                },
                "status": {
                    "type": "string",
                    "enum": ["PENDINGAPPROVAL", "APPROVED", "REJECTED", "CANCELLED", "PENDINGIDENTITY"]
                },
                "statusCert": {
                    "type": "string",
                    "enum": ["ISSUED", "REVOKED", "UNKNOWN"]
                },
                "timestampStatusCert": {
                    "type": "string"
                },
                "type": {
                    "type": "string",
                    "enum": ["NEWCERTIFICATE", "RENEWAL"]
                },
                "uuidOwner": {
                    "type": "string"
                }
            },
            "title": "KeystoreRequestsDaoV1"
        },
        "KeystoreRequestsDaoV2": {
            "type": "object",
            "properties": {
                "acceptanceFile": {
                    "$ref": "#/definitions/FileDao"
                },
                "authority": {
                    "type": "string"
                },
                "certificate": {
                    "type": "string"
                },
                "dateCreation": {
                    "type": "string"
                },
                "description": {
                    "type": "string"
                },
                "files": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/FileDao"
                    }
                },
                "id": {
                    "type": "string"
                },
                "idCompany": {
                    "type": "string"
                },
                "idSignProcess": {
                    "type": "string"
                },
                "idUserCertificateOwner": {
                    "type": "string"
                },
                "idUserRaRegistrator": {
                    "type": "string"
                },
                "idUserRaRequestor": {
                    "type": "string"
                },
                "keyAlgorithm": {
                    "type": "string"
                },
                "keyLen": {
                    "type": "integer",
                    "format": "int32"
                },
                "keyStoreEmail": {
                    "type": "string"
                },
                "keyStoreIssued": {
                    "type": "boolean"
                },
                "keyStoreUser": {
                    "type": "string"
                },
                "policyName": {
                    "type": "string"
                },
                "policyParameters": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    }
                },
                "registratorComment": {
                    "type": "string"
                },
                "serial": {
                    "type": "string"
                },
                "signStatus": {
                    "type": "string",
                    "enum": ["PENDING", "PROCESSING", "DENIED", "ACCEPTED", "ERROR", "NONE", "COMPLETED"]
                },
                "signType": {
                    "type": "string",
                    "enum": ["ALMACENAMIENTO_DIGITALIZADO", "FIRMA_DIGITAL_TITULAR", "FIRMA_DIGITAL_DELEGADA"]
                },
                "signatureAlgorithm": {
                    "type": "string"
                },
                "status": {
                    "type": "string",
                    "enum": ["PENDINGAPPROVAL", "APPROVED", "REJECTED", "CANCELLED", "PENDINGIDENTITY"]
                },
                "statusCert": {
                    "type": "string",
                    "enum": ["ISSUED", "REVOKED", "UNKNOWN"]
                },
                "type": {
                    "type": "string",
                    "enum": ["NEWCERTIFICATE", "RENEWAL"]
                },
                "uuidOwner": {
                    "type": "string"
                }
            },
            "title": "KeystoreRequestsDaoV2"
        },
        "KeystoreRequestsListDaoV1": {
            "type": "object",
            "properties": {
                "certificates": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/KeystoreRequestsDaoV1"
                    }
                },
                "size": {
                    "type": "integer",
                    "format": "int32"
                }
            },
            "title": "KeystoreRequestsListDaoV1"
        },
        "KeystoreRequestsListDaoV2": {
            "type": "object",
            "properties": {
                "certificates": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/KeystoreRequestsDaoV2"
                    }
                },
                "size": {
                    "type": "integer",
                    "format": "int32"
                }
            },
            "title": "KeystoreRequestsListDaoV2"
        },
        "ListGroupDTO": {
            "type": "object",
            "properties": {
                "groupList": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/GroupDTO"
                    }
                },
                "totalGroups": {
                    "type": "integer",
                    "format": "int32"
                }
            },
            "title": "ListGroupDTO"
        },
        "ListUserDTO": {
            "type": "object",
            "properties": {
                "totalUsers": {
                    "type": "integer",
                    "format": "int32"
                },
                "userList": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/UserDTO"
                    }
                }
            },
            "title": "ListUserDTO"
        },
        "LoginCompanyInfo": {
            "type": "object",
            "properties": {
                "client": {
                    "type": "string"
                },
                "serviceProviderEnabled": {
                    "type": "boolean"
                }
            },
            "title": "LoginCompanyInfo"
        },
        "Map«string,string»": {
            "type": "object",
            "title": "Map«string,string»",
            "additionalProperties": {
                "type": "string"
            }
        },
        "Meta": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "integer",
                    "format": "int64",
                    "example": 1,
                    "description": "Attached data identifier",
                    "allowEmptyValue": false
                },
                "name": {
                    "type": "string",
                    "example": "name demo",
                    "description": "Attached data name",
                    "allowEmptyValue": false
                },
                "required": {
                    "type": "boolean",
                    "example": true,
                    "description": "Flag to indicate if mandatory",
                    "allowEmptyValue": false
                },
                "type": {
                    "type": "string",
                    "example": "TEXT",
                    "description": "Attached data type",
                    "allowEmptyValue": false,
                    "enum": ["TEXT", "FILE", "LINK"]
                },
                "validValues": {
                    "type": "array",
                    "example": ["a", "b", "c"],
                    "description": "List of possible values (optional)",
                    "allowEmptyValue": false,
                    "items": {
                        "type": "string"
                    }
                },
                "value": {
                    "type": "string",
                    "example": "b",
                    "description": "Attached data value",
                    "allowEmptyValue": false
                }
            },
            "title": "Meta"
        },
        "MetaInfoDTO": {
            "type": "object",
            "properties": {
                "description": {
                    "type": "string"
                },
                "hint": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "required": {
                    "type": "boolean"
                },
                "type": {
                    "type": "string"
                },
                "validValues": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "value": {
                    "type": "string"
                }
            },
            "title": "MetaInfoDTO"
        },
        "ModelAndView": {
            "type": "object",
            "properties": {
                "empty": {
                    "type": "boolean"
                },
                "model": {
                    "type": "object"
                },
                "modelMap": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "object"
                    }
                },
                "reference": {
                    "type": "boolean"
                },
                "status": {
                    "type": "string",
                    "enum": ["100 CONTINUE", "101 SWITCHING_PROTOCOLS", "102 PROCESSING", "103 CHECKPOINT", "200 OK", "201 CREATED", "202 ACCEPTED", "203 NON_AUTHORITATIVE_INFORMATION", "204 NO_CONTENT", "205 RESET_CONTENT", "206 PARTIAL_CONTENT", "207 MULTI_STATUS", "208 ALREADY_REPORTED", "226 IM_USED", "300 MULTIPLE_CHOICES", "301 MOVED_PERMANENTLY", "302 FOUND", "302 MOVED_TEMPORARILY", "303 SEE_OTHER", "304 NOT_MODIFIED", "305 USE_PROXY", "307 TEMPORARY_REDIRECT", "308 PERMANENT_REDIRECT", "400 BAD_REQUEST", "401 UNAUTHORIZED", "402 PAYMENT_REQUIRED", "403 FORBIDDEN", "404 NOT_FOUND", "405 METHOD_NOT_ALLOWED", "406 NOT_ACCEPTABLE", "407 PROXY_AUTHENTICATION_REQUIRED", "408 REQUEST_TIMEOUT", "409 CONFLICT", "410 GONE", "411 LENGTH_REQUIRED", "412 PRECONDITION_FAILED", "413 PAYLOAD_TOO_LARGE", "413 REQUEST_ENTITY_TOO_LARGE", "414 URI_TOO_LONG", "414 REQUEST_URI_TOO_LONG", "415 UNSUPPORTED_MEDIA_TYPE", "416 REQUESTED_RANGE_NOT_SATISFIABLE", "417 EXPECTATION_FAILED", "418 I_AM_A_TEAPOT", "419 INSUFFICIENT_SPACE_ON_RESOURCE", "420 METHOD_FAILURE", "421 DESTINATION_LOCKED", "422 UNPROCESSABLE_ENTITY", "423 LOCKED", "424 FAILED_DEPENDENCY", "425 TOO_EARLY", "426 UPGRADE_REQUIRED", "428 PRECONDITION_REQUIRED", "429 TOO_MANY_REQUESTS", "431 REQUEST_HEADER_FIELDS_TOO_LARGE", "451 UNAVAILABLE_FOR_LEGAL_REASONS", "500 INTERNAL_SERVER_ERROR", "501 NOT_IMPLEMENTED", "502 BAD_GATEWAY", "503 SERVICE_UNAVAILABLE", "504 GATEWAY_TIMEOUT", "505 HTTP_VERSION_NOT_SUPPORTED", "506 VARIANT_ALSO_NEGOTIATES", "507 INSUFFICIENT_STORAGE", "508 LOOP_DETECTED", "509 BANDWIDTH_LIMIT_EXCEEDED", "510 NOT_EXTENDED", "511 NETWORK_AUTHENTICATION_REQUIRED"]
                },
                "view": {
                    "$ref": "#/definitions/View"
                },
                "viewName": {
                    "type": "string"
                }
            },
            "title": "ModelAndView"
        },
        "ModifyGroupDelegationDTO": {
            "type": "object",
            "properties": {
                "dateValidEnd": {
                    "type": "string"
                },
                "dateValidStart": {
                    "type": "string"
                },
                "enabled": {
                    "type": "boolean"
                },
                "idACL": {
                    "type": "integer",
                    "format": "int32"
                },
                "idcert": {
                    "type": "string"
                },
                "idgroup": {
                    "type": "string"
                },
                "validIpSource": {
                    "type": "string"
                },
                "validPeriodTime": {
                    "type": "string"
                }
            },
            "title": "ModifyGroupDelegationDTO"
        },
        "ModifyMetaVM": {
            "type": "object",
            "properties": {
                "meta": {
                    "type": "array",
                    "description": "List of changed attachments",
                    "allowEmptyValue": false,
                    "items": {
                        "$ref": "#/definitions/Meta"
                    }
                }
            },
            "title": "ModifyMetaVM"
        },
        "ModifyRequestViewModel": {
            "type": "object",
            "properties": {
                "description": {
                    "type": "string"
[...]
