{
    "openapi": "3.0.1",
    "info": {
        "title": "Authentication API",
        "version": "v4"
    },
    "externalDocs": {
        "description": "API Documentation",
        "url": "https://portal.nebulaservice.net/docs/developer/en/HTML/authentication.html"
    },
    "servers": [{
            "url": "https://api-ansmt01.nebulaservice.net"
        }
    ],
    "paths": {
        "/signin/auth/login/second": {
            "post": {
                "tags": ["Authentication"],
                "summary": "Second factor authentication",
                "description": "Second factor authentication",
                "operationId": "authSecond",
                "parameters": [{
                        "name": "Authorization",
                        "in": "header",
                        "description": "Token generated by the authorization previous step",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJleHAiOjE3Mjg1OTQ1OTcsImp0aSI6ImRiNzc3YWM3LTllNmMtNDk0OS1hY2RlLWZhOThiYTNlNjc2MyIsImx2bCI6InNpbXBsZSIsInVpZCI6Im93bmVyIiwidXVpZCI6IjAxZDNlMWZjLTk0ZDktMzRkZC04ZWRjLTUxN2UzMzZhMDYwNiIsInR1aWQiOiJkZWM0MjEwZS1jYzg4LTNkZmUtOTI3NC0wNDE3MWM2NmM4MmQiLCJyb2xlcyI6eyJuZWJ1bGF1c2VycyI6ImJhc2ljIiwibmVidWxhY2VydCI6IkNlcnRPd25lciIsIm5lYnVsYXNpZ24tb2xkIjoib3duZXIiLCJuZWJ1bGFzaWduIjoib3duZXIifSwiYXV0aE9yaWdpbiI6ImNsb3VkIiwiZW1haWwiOiJzYW5kcmEucm9kcmlndWV6QHZpbnRlZ3Jpcy5jb20iLCJtYXhleHAiOjE3Mjg1OTQ1ODQ3NzZ9.DPCuqkV-Eipzo7cxVSCFveME4LJgdERpowcekHJOIfk"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SessionAndChallengeViewModel"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/NebulaResponseStringVoid"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/NebulaResponseStringVoid"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/NebulaResponseStringVoid"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/NebulaResponseStringVoid"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NebulaResponseResponseCodeTokenWithLevelViewModel"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/signin/auth/login/first": {
            "post": {
                "tags": ["Authentication"],
                "summary": "First factor authentication",
                "description": "First factor authentication",
                "operationId": "authFirst",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AuthViewModel"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/NebulaResponseStringVoid"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/NebulaResponseStringVoid"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/NebulaResponseStringVoid"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/NebulaResponseStringVoid"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NebulaResponseResponseCodeTokenWithLevelViewModel"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/signin/auth/login/challenge/{authenticator}": {
            "get": {
                "tags": ["Authentication"],
                "summary": "Get challenge",
                "description": "Get challenge",
                "operationId": "getChallenge",
                "parameters": [{
                        "name": "authenticator",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }, {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Token generated by the authorization previous step",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJleHAiOjE3Mjg1OTQ1OTcsImp0aSI6ImRiNzc3YWM3LTllNmMtNDk0OS1hY2RlLWZhOThiYTNlNjc2MyIsImx2bCI6InNpbXBsZSIsInVpZCI6Im93bmVyIiwidXVpZCI6IjAxZDNlMWZjLTk0ZDktMzRkZC04ZWRjLTUxN2UzMzZhMDYwNiIsInR1aWQiOiJkZWM0MjEwZS1jYzg4LTNkZmUtOTI3NC0wNDE3MWM2NmM4MmQiLCJyb2xlcyI6eyJuZWJ1bGF1c2VycyI6ImJhc2ljIiwibmVidWxhY2VydCI6IkNlcnRPd25lciIsIm5lYnVsYXNpZ24tb2xkIjoib3duZXIiLCJuZWJ1bGFzaWduIjoib3duZXIifSwiYXV0aE9yaWdpbiI6ImNsb3VkIiwiZW1haWwiOiJzYW5kcmEucm9kcmlndWV6QHZpbnRlZ3Jpcy5jb20iLCJtYXhleHAiOjE3Mjg1OTQ1ODQ3NzZ9.DPCuqkV-Eipzo7cxVSCFveME4LJgdERpowcekHJOIfk"
                    }
                ],
                "responses": {
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/NebulaResponseStringVoid"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/NebulaResponseStringVoid"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/NebulaResponseStringVoid"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/NebulaResponseStringVoid"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NebulaResponseResponseCodeTokenWithChallengeVierModel"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/signin/auth/login/authenticators": {
            "get": {
                "tags": ["Authentication"],
                "summary": "Get authenticators",
                "description": "Get authenticators",
                "operationId": "getAuthenticators",
                "parameters": [{
                        "name": "Authorization",
                        "in": "header",
                        "description": "Token generated by the authorization previous step",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJleHAiOjE3Mjg1OTQ1OTcsImp0aSI6ImRiNzc3YWM3LTllNmMtNDk0OS1hY2RlLWZhOThiYTNlNjc2MyIsImx2bCI6InNpbXBsZSIsInVpZCI6Im93bmVyIiwidXVpZCI6IjAxZDNlMWZjLTk0ZDktMzRkZC04ZWRjLTUxN2UzMzZhMDYwNiIsInR1aWQiOiJkZWM0MjEwZS1jYzg4LTNkZmUtOTI3NC0wNDE3MWM2NmM4MmQiLCJyb2xlcyI6eyJuZWJ1bGF1c2VycyI6ImJhc2ljIiwibmVidWxhY2VydCI6IkNlcnRPd25lciIsIm5lYnVsYXNpZ24tb2xkIjoib3duZXIiLCJuZWJ1bGFzaWduIjoib3duZXIifSwiYXV0aE9yaWdpbiI6ImNsb3VkIiwiZW1haWwiOiJzYW5kcmEucm9kcmlndWV6QHZpbnRlZ3Jpcy5jb20iLCJtYXhleHAiOjE3Mjg1OTQ1ODQ3NzZ9.DPCuqkV-Eipzo7cxVSCFveME4LJgdERpowcekHJOIfk"
                    }
                ],
                "responses": {
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/NebulaResponseStringVoid"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/NebulaResponseStringVoid"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/NebulaResponseStringVoid"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/NebulaResponseStringVoid"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NebulaResponseResponseCodeTokenWithAuthenticatorsViewModel"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "NebulaResponseStringVoid": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "string"
                    },
                    "message": {
                        "type": "string"
                    },
                    "content": {
                        "type": "object"
                    }
                }
            },
            "SessionAndChallengeViewModel": {
                "required": ["challenge", "session"],
                "type": "object",
                "properties": {
                    "session": {
                        "type": "string",
                        "description": "The authentication session"
                    },
                    "challenge": {
                        "type": "string",
                        "description": "The solved challenge"
                    }
                }
            },
            "NebulaResponseResponseCodeTokenWithLevelViewModel": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "string",
                        "enum": ["OK", "INVALID_REQUEST", "SERVER_ERROR", "RESOURCE_NOT_FOUND", "BAD_PARAMS", "UNAUTHORIZED_CLIENT", "INVALID_TOKEN"]
                    },
                    "message": {
                        "type": "string"
                    },
                    "content": {
                        "$ref": "#/components/schemas/TokenWithLevelViewModel"
                    }
                }
            },
            "TokenWithLevelViewModel": {
                "required": ["lvl", "token"],
                "type": "object",
                "properties": {
                    "token": {
                        "type": "string",
                        "description": "JWT Token",
                        "example": "JWT"
                    },
                    "lvl": {
                        "type": "string",
                        "description": "level"
                    }
                }
            },
            "AuthViewModel": {
                "required": ["password", "username"],
                "type": "object",
                "properties": {
                    "username": {
                        "type": "string",
                        "description": "The user identifier"
                    },
                    "password": {
                        "type": "string",
                        "description": "The user password"
                    },
                    "tuid": {
                        "type": "string",
                        "description": "The client identifier (not necessary if url is set)"
                    },
                    "url": {
                        "type": "string",
                        "description": "The url (not necessary if client identifier is set)"
                    }
                }
            },
            "NebulaResponseResponseCodeTokenWithChallengeVierModel": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "string",
                        "enum": ["OK", "INVALID_REQUEST", "SERVER_ERROR", "RESOURCE_NOT_FOUND", "BAD_PARAMS", "UNAUTHORIZED_CLIENT", "INVALID_TOKEN"]
                    },
                    "message": {
                        "type": "string"
                    },
                    "content": {
                        "$ref": "#/components/schemas/TokenWithChallengeVierModel"
                    }
                }
            },
            "TokenWithChallengeVierModel": {
                "type": "object",
                "properties": {
                    "token": {
                        "type": "string",
                        "description": "Authentication token (Authorization header must contain this value on next operations)",
                        "example": "JWT"
                    },
                    "lvl": {
                        "type": "string",
                        "description": "The authentication level. One of [simple, authentication, robust]",
                        "example": "string"
                    },
                    "challenge": {
                        "type": "string",
                        "description": "The authentication challenge",
                        "example": "string"
                    },
                    "session": {
                        "type": "string",
                        "description": "The authentication session",
                        "example": "string"
                    }
                }
            },
            "NebulaResponseResponseCodeTokenWithAuthenticatorsViewModel": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "string",
                        "enum": ["OK", "INVALID_REQUEST", "SERVER_ERROR", "RESOURCE_NOT_FOUND", "BAD_PARAMS", "UNAUTHORIZED_CLIENT", "INVALID_TOKEN"]
                    },
                    "message": {
                        "type": "string"
                    },
                    "content": {
                        "$ref": "#/components/schemas/TokenWithAuthenticatorsViewModel"
                    }
                }
            },
            "TokenWithAuthenticatorsViewModel": {
                "type": "object",
                "properties": {
                    "token": {
                        "type": "string",
                        "description": "Authentication token (Authorization header must contain this value on next operations)",
                        "example": "JWT"
                    },
                    "authenticators": {
                        "type": "array",
                        "description": "List containing the available authenticators",
                        "example": "[string, string]",
                        "items": {
                            "type": "string",
                            "description": "List containing the available authenticators",
                            "example": "[string, string]"
                        }
                    }
                }
            }
        },
        "securitySchemes": {
            "Authorization": {
                "type": "http",
                "scheme": "bearer",
                "bearerFormat": "JWT"
            }
        }
    }
}
