{
    "swagger": "2.0",
    "info": {
        "title": "General functions API",
        "version": "v3"
    },
    "externalDocs": {
        "description": "API Documentation",
        "url": "https://portal.nebulaservice.net/docs/developer/en/HTML/nebulasuite-api-overview.html"
    },
    "host": "api-ansmt01.nebulaservice.net",
    "basePath": "/api",
    "tags": [{
            "name": "audit-controller",
            "description": "Audit Controller"
        }, {
            "name": "audit-controller-v-2",
            "description": "Audit Controller V 2"
        }, {
            "name": "auth-controller",
            "description": "Auth Controller"
        }, {
            "name": "auth-controller-v-2",
            "description": "Auth Controller V 2"
        }, {
            "name": "basic-error-controller",
            "description": "Basic Error Controller"
        }, {
            "name": "cades-sign-controller",
            "description": "Cades Sign Controller"
        }, {
            "name": "certificate-controller",
            "description": "Certificate Controller"
        }, {
            "name": "certificate-controller-v-2",
            "description": "Certificate Controller V 2"
        }, {
            "name": "certificate-controller-v-3",
            "description": "Certificate Controller V 3"
        }, {
            "name": "certificate-controller-v-4",
            "description": "Certificate Controller V 4"
        }, {
            "name": "check-up-controler-v-1",
            "description": "Check Up Controler V 1"
        }, {
            "name": "device-controller",
            "description": "Device Controller"
        }, {
            "name": "document-controller",
            "description": "Document Controller"
        }, {
            "name": "group-controller-v-3",
            "description": "Group Controller V 3"
        }, {
            "name": "health-controller",
            "description": "Health Controller"
        }, {
            "name": "key-store-controller",
            "description": "Key Store Controller"
        }, {
            "name": "key-store-controller-v-2",
            "description": "Key Store Controller V 2"
        }, {
            "name": "nebula-id-controller-v-1",
            "description": "Nebula Id Controller V 1"
        }, {
            "name": "ooxml-sign-controller",
            "description": "Ooxml Sign Controller"
        }, {
            "name": "pades-sign-controller",
            "description": "Pades Sign Controller"
        }, {
            "name": "pades-sign-controller-v-2",
            "description": "Pades Sign Controller V 2"
        }, {
            "name": "process-controller",
            "description": "Process Controller"
        }, {
            "name": "sign-process-controller",
            "description": "Sign Process Controller"
        }, {
            "name": "signature-controller",
            "description": "Signature Controller"
        }, {
            "name": "signature-controller-v-2",
            "description": "Signature Controller V 2"
        }, {
            "name": "soft-certificate-controller",
            "description": "Soft Certificate Controller"
        }, {
            "name": "token-controller",
            "description": "Token Controller"
        }, {
            "name": "user-controller",
            "description": "User Controller"
        }, {
            "name": "user-controller-v-2",
            "description": "User Controller V 2"
        }, {
            "name": "user-controller-v-3",
            "description": "User Controller V 3"
        }, {
            "name": "workflow-controller",
            "description": "Workflow Controller"
        }, {
            "name": "xades-sign-controller",
            "description": "Xades Sign Controller"
        }
    ],
    "paths": {
        "/api/v1/cadessign/sign": {
            "post": {
                "tags": ["cades-sign-controller"],
                "summary": "cadesSignature",
                "operationId": "cadesSignatureUsingPOST",
                "consumes": ["multipart/form-data"],
                "produces": ["*/*"],
                "parameters": [{
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization token",
                        "required": false,
                        "type": "string"
                    }, {
                        "name": "file",
                        "in": "formData",
                        "description": "file",
                        "required": false,
                        "type": "file"
                    }, {
                        "in": "formData",
                        "name": "cadesSignatureReqDTO",
                        "description": "cadesSignatureReqDTO",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CadesSignatureReqDTO"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/SignatureResponseDTO"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            }
        },
        "/api/v1/cadessign/validate": {
            "post": {
                "tags": ["cades-sign-controller"],
                "summary": "cadesValidate",
                "operationId": "cadesValidateUsingPOST",
                "consumes": ["multipart/form-data"],
                "produces": ["*/*"],
                "parameters": [{
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization token",
                        "required": false,
                        "type": "string"
                    }, {
                        "name": "signedFile",
                        "in": "formData",
                        "description": "signedFile",
                        "required": false,
                        "type": "file"
                    }, {
                        "name": "originalFile",
                        "in": "formData",
                        "description": "originalFile",
                        "required": false,
                        "type": "file"
                    }, {
                        "in": "formData",
                        "name": "cadesValidationDTO",
                        "description": "cadesValidationDTO",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CadesValidationDTO"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            }
        },
        "/api/v1/certificate/changealias": {
            "put": {
                "tags": ["certificate-controller"],
                "summary": "changeCertDescriptionUsage",
                "operationId": "changeCertDescriptionUsageUsingPUT",
                "consumes": ["application/json"],
                "produces": ["*/*"],
                "parameters": [{
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization token",
                        "required": false,
                        "type": "string"
                    }, {
                        "in": "body",
                        "name": "request",
                        "description": "request",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ChangeCertDescriptionUsageDTO"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            }
        },
        "/api/v1/certificate/changepin": {
            "put": {
                "tags": ["certificate-controller"],
                "summary": "changeCertificatePin",
                "operationId": "changeCertificatePinUsingPUT",
                "consumes": ["application/json"],
                "produces": ["*/*"],
                "parameters": [{
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization token",
                        "required": false,
                        "type": "string"
                    }, {
                        "in": "body",
                        "name": "request",
                        "description": "request",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ChangeCertificatePinDTO"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            }
        },
        "/api/v1/certificate/delegate/group": {
            "post": {
                "tags": ["certificate-controller"],
                "summary": "delegateCertToGroup",
                "operationId": "delegateCertToGroupUsingPOST",
                "consumes": ["application/json"],
                "produces": ["*/*"],
                "parameters": [{
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization token",
                        "required": false,
                        "type": "string"
                    }, {
                        "in": "body",
                        "name": "request",
                        "description": "request",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/DelegateCertToGroupDTO"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            },
            "put": {
                "tags": ["certificate-controller"],
                "summary": "modifyGroupDelegation",
                "operationId": "modifyGroupDelegationUsingPUT",
                "consumes": ["application/json"],
                "produces": ["*/*"],
                "parameters": [{
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization token",
                        "required": false,
                        "type": "string"
                    }, {
                        "in": "body",
                        "name": "request",
                        "description": "request",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ModifyGroupDelegationDTO"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            },
            "delete": {
                "tags": ["certificate-controller"],
                "summary": "deleteGroupDelegation",
                "operationId": "deleteGroupDelegationUsingDELETE",
                "produces": ["*/*"],
                "parameters": [{
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization token",
                        "required": false,
                        "type": "string"
                    }, {
                        "in": "body",
                        "name": "request",
                        "description": "request",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/DeleteGroupDelegationDTO"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "204": {
                        "description": "No Content"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            }
        },
        "/api/v1/certificate/delegate/user": {
            "post": {
                "tags": ["certificate-controller"],
                "summary": "delegateCertToUser",
                "operationId": "delegateCertToUserUsingPOST",
                "consumes": ["application/json"],
                "produces": ["*/*"],
                "parameters": [{
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization token",
                        "required": false,
                        "type": "string"
                    }, {
                        "in": "body",
                        "name": "request",
                        "description": "request",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/DelegateCertToUserDTO"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            },
            "put": {
                "tags": ["certificate-controller"],
                "summary": "modifyUserDelegation",
                "operationId": "modifyUserDelegationUsingPUT",
                "consumes": ["application/json"],
                "produces": ["*/*"],
                "parameters": [{
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization token",
                        "required": false,
                        "type": "string"
                    }, {
                        "in": "body",
                        "name": "request",
                        "description": "request",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ModifyUserDelegationDTO"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            },
            "delete": {
                "tags": ["certificate-controller"],
                "summary": "deleteUserDelegation",
                "operationId": "deleteUserDelegationUsingDELETE",
                "produces": ["*/*"],
                "parameters": [{
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization token",
                        "required": false,
                        "type": "string"
                    }, {
                        "in": "body",
                        "name": "request",
                        "description": "request",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/DeleteUserDelegationDTO"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "204": {
                        "description": "No Content"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            }
        },
        "/api/v1/certificate/delegation/accept": {
            "put": {
                "tags": ["certificate-controller"],
                "summary": "acceptDelegation",
                "operationId": "acceptDelegationUsingPUT",
                "consumes": ["application/json"],
                "produces": ["*/*"],
                "parameters": [{
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization token",
                        "required": false,
                        "type": "string"
                    }, {
                        "in": "body",
                        "name": "request",
                        "description": "request",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/AcceptDelegationDTO"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            }
        },
        "/api/v1/certificate/delete": {
            "delete": {
                "tags": ["certificate-controller"],
                "summary": "deleteCertificate",
                "operationId": "deleteCertificateUsingDELETE",
                "produces": ["*/*"],
                "parameters": [{
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization token",
                        "required": false,
                        "type": "string"
                    }, {
                        "in": "body",
                        "name": "removeCertificateDTO",
                        "description": "removeCertificateDTO",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/RemoveCertificateDTO"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "204": {
                        "description": "No Content"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            }
        },
        "/api/v1/certificate/delete-multiple": {
            "delete": {
                "tags": ["certificate-controller"],
                "summary": "deleteMultipleCertificates",
                "operationId": "deleteMultipleCertificatesUsingDELETE",
                "produces": ["*/*"],
                "parameters": [{
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization token",
                        "required": false,
                        "type": "string"
                    }, {
                        "in": "body",
                        "name": "removeCertificateListDTO",
                        "description": "removeCertificateListDTO",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/RemoveCertificateListDTO"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "204": {
                        "description": "No Content"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            }
        },
        "/api/v1/certificate/easysignature": {
            "post": {
                "tags": ["certificate-controller"],
                "summary": "easySignature",
                "operationId": "easySignatureUsingPOST",
                "consumes": ["application/json"],
                "produces": ["*/*"],
                "parameters": [{
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization token",
                        "required": false,
                        "type": "string"
                    }, {
                        "in": "body",
                        "name": "request",
                        "description": "request",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CFullySignReqDTO"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/CSignDTO"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            }
        },
        "/api/v1/certificate/export/{idCert}": {
            "post": {
                "tags": ["certificate-controller"],
                "summary": "exportCertificate",
                "operationId": "exportCertificateUsingPOST",
                "consumes": ["application/json"],
                "produces": ["*/*"],
                "parameters": [{
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization token",
                        "required": false,
                        "type": "string"
                    }, {
                        "name": "idCert",
                        "in": "path",
                        "description": "idCert",
                        "required": true,
                        "type": "string"
                    }, {
                        "in": "body",
                        "name": "request",
                        "description": "request",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ExportCertRequestDTO"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ExportedCertificateDTO"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            }
        },
        "/api/v1/certificate/import": {
            "post": {
                "tags": ["certificate-controller"],
                "summary": "importCertificate",
                "operationId": "importCertificateUsingPOST",
                "consumes": ["application/json"],
                "produces": ["*/*"],
                "parameters": [{
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization token",
                        "required": false,
                        "type": "string"
                    }, {
                        "in": "body",
                        "name": "request",
                        "description": "request",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ImportCertificateDTO"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/CertIdDTO"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            }
        },
        "/api/v1/certificate/mycertificates": {
            "get": {
                "tags": ["certificate-controller"],
                "summary": "getUserCertificates",
                "operationId": "getUserCertificatesUsingGET",
                "produces": ["*/*"],
                "parameters": [{
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization token",
                        "required": false,
                        "type": "string"
                    }, {
                        "name": "offset",
                        "in": "query",
                        "description": "offset",
                        "required": false,
                        "type": "integer",
                        "default": 0,
                        "format": "int32"
                    }, {
                        "name": "limit",
                        "in": "query",
                        "description": "limit",
                        "required": false,
                        "type": "integer",
                        "default": 0,
                        "format": "int32"
                    }, {
                        "name": "publickey",
                        "in": "query",
                        "description": "publickey",
                        "required": false,
                        "type": "boolean",
                        "default": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/CertificateListDTO"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": true
            }
        },
        "/api/v1/certificate/report": {
            "post": {
                "tags": ["certificate-controller"],
                "summary": "requestReport",
                "operationId": "requestReportUsingPOST",
                "consumes": ["application/json"],
                "produces": ["*/*"],
                "parameters": [{
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization token",
                        "required": false,
                        "type": "string"
                    }, {
                        "in": "body",
                        "name": "emails",
                        "description": "emails",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/RequestCertificatesReportDTO"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created"
                    },
                    "202": {
                        "description": "Accepted",
                        "schema": {
                            "$ref": "#/definitions/NebulaResponseDTO"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            }
        },
        "/api/v1/certificate/request": {
            "get": {
                "tags": ["certificate-controller"],
                "summary": "getCertificateRequests",
                "operationId": "getCertificateRequestsUsingGET",
                "produces": ["*/*"],
                "parameters": [{
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization token",
                        "required": false,
                        "type": "string"
                    }, {
                        "name": "caid",
                        "in": "query",
                        "description": "caid",
                        "required": false,
                        "type": "string"
                    }, {
                        "name": "ownerid",
                        "in": "query",
                        "description": "ownerid",
                        "required": false,
                        "type": "string"
                    }, {
                        "name": "status",
                        "in": "query",
                        "description": "status",
                        "required": false,
                        "type": "string"
                    }, {
                        "name": "type",
                        "in": "query",
                        "description": "type",
                        "required": false,
                        "type": "string"
                    }, {
                        "name": "offset",
                        "in": "query",
                        "description": "offset",
                        "required": false,
                        "type": "integer",
                        "default": 0,
                        "format": "int32"
                    }, {
                        "name": "limit",
                        "in": "query",
                        "description": "limit",
                        "required": false,
                        "type": "integer",
                        "default": 10,
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/CertificateRequestInfoListDTO"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            },
            "post": {
                "tags": ["certificate-controller"],
                "summary": "requestCertificate",
                "operationId": "requestCertificateUsingPOST",
                "consumes": ["application/json"],
                "produces": ["*/*"],
                "parameters": [{
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization token",
                        "required": false,
                        "type": "string"
                    }, {
                        "in": "body",
                        "name": "certificateRequestDTO",
                        "description": "certificateRequestDTO",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CertificateRequestDTOV1"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/CertificateRequestIdDTO"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": true
            }
        },
        "/api/v1/certificate/request/file": {
            "post": {
                "tags": ["certificate-controller"],
                "summary": "uploadFile",
                "operationId": "uploadFileUsingPOST",
                "consumes": ["multipart/form-data"],
                "produces": ["*/*"],
                "parameters": [{
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization token",
                        "required": false,
                        "type": "string"
                    }, {
                        "name": "file",
                        "in": "formData",
                        "description": "file",
                        "required": true,
                        "type": "file"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/FileIdDTO"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            }
        },
        "/api/v1/certificate/{certificateid}": {
            "get": {
                "tags": ["certificate-controller"],
                "summary": "getCertificate",
                "operationId": "getCertificateUsingGET",
                "produces": ["*/*"],
                "parameters": [{
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization token",
                        "required": false,
                        "type": "string"
                    }, {
                        "name": "certificateid",
                        "in": "path",
                        "description": "certificateid",
                        "required": true,
                        "type": "string"
                    }, {
                        "name": "publickey",
                        "in": "query",
                        "description": "publickey",
                        "required": false,
                        "type": "boolean",
                        "default": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/CertificateDTO"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            }
        },
        "/api/v1/keystore/issued/{idRequest}": {
            "post": {
                "tags": ["key-store-controller"],
                "summary": "generateKeystoreCertificate",
                "operationId": "generateKeystoreCertificateUsingPOST",
                "consumes": ["application/json"],
                "produces": ["*/*"],
                "parameters": [{
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization token",
                        "required": false,
                        "type": "string"
                    }, {
                        "name": "idRequest",
                        "in": "path",
                        "description": "idRequest",
                        "required": true,
                        "type": "string"
                    }, {
                        "in": "body",
                        "name": "otpValidationDTO",
                        "description": "otpValidationDTO",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/OtpValidationDTO"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            }
        },
        "/api/v1/keystore/issued/{idRequest}/otp": {
            "get": {
                "tags": ["key-store-controller"],
                "summary": "generateOtpToKeystoreCertificateRequest",
                "operationId": "generateOtpToKeystoreCertificateRequestUsingGET",
                "produces": ["*/*"],
                "parameters": [{
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization token",
                        "required": false,
                        "type": "string"
                    }, {
                        "name": "idRequest",
                        "in": "path",
                        "description": "idRequest",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            }
        },
        "/api/v1/keystore/request": {
            "post": {
                "tags": ["key-store-controller"],
                "summary": "requestKeystoreCertificate",
                "operationId": "requestKeystoreCertificateUsingPOST",
                "consumes": ["application/json"],
                "produces": ["*/*"],
                "parameters": [{
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization token",
                        "required": false,
                        "type": "string"
                    }, {
                        "in": "body",
                        "name": "requestKeystoreCertificateDTO",
                        "description": "requestKeystoreCertificateDTO",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/RequestKeystoreCertificateDTO"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            }
        },
        "/api/v1/ooxml/sign": {
            "post": {
                "tags": ["ooxml-sign-controller"],
                "summary": "ooxmlSignature",
                "operationId": "ooxmlSignatureUsingPOST",
                "consumes": ["multipart/form-data"],
                "produces": ["*/*"],
                "parameters": [{
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization token",
                        "required": false,
                        "type": "string"
                    }, {
                        "name": "file",
                        "in": "formData",
                        "description": "file",
                        "required": true,
                        "type": "file"
                    }, {
                        "in": "formData",
                        "name": "request",
                        "description": "request",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/OoxmlSignatureRequestVM"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/OoxmlSignatureResponseDTO"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            }
        },
        "/api/v1/padessign/sign": {
            "post": {
                "tags": ["pades-sign-controller"],
                "summary": "padesSignature",
                "operationId": "padesSignatureUsingPOST",
                "consumes": ["multipart/form-data"],
                "produces": ["*/*"],
                "parameters": [{
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization token",
                        "required": false,
                        "type": "string"
                    }, {
                        "name": "file",
                        "in": "formData",
                        "description": "file",
                        "required": true,
                        "type": "file"
                    }, {
                        "name": "images",
                        "in": "formData",
                        "description": "images",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "file"
                        },
                        "collectionFormat": "multi"
                    }, {
                        "in": "formData",
                        "name": "padesSignatureReqDTO",
                        "description": "padesSignatureReqDTO",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/PadesSignatureDTO"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/SignatureResponseDTO"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            }
        },
        "/api/v1/padessign/timestamp": {
            "post": {
                "tags": ["pades-sign-controller"],
                "summary": "padesTimestamp",
                "operationId": "padesTimestampUsingPOST",
                "consumes": ["multipart/form-data"],
                "produces": ["*/*"],
                "parameters": [{
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization token",
                        "required": false,
                        "type": "string"
                    }, {
                        "name": "file",
                        "in": "formData",
                        "description": "file",
                        "required": true,
                        "type": "file"
                    }, {
                        "in": "formData",
                        "name": "padesTimestampVM",
                        "description": "padesTimestampVM",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/PadesTimestampVM"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/SignatureResponseDTO"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            }
        },
        "/api/v1/padessign/validate": {
            "post": {
                "tags": ["pades-sign-controller"],
                "summary": "Execute validation of a document",
                "operationId": "padesValidateUsingPOST",
                "consumes": ["multipart/form-data"],
                "produces": ["*/*"],
                "parameters": [{
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization token",
                        "required": false,
                        "type": "string"
                    }, {
                        "name": "signedFile",
                        "in": "formData",
                        "description": "File to be validated",
                        "required": false,
                        "type": "file"
                    }, {
                        "in": "formData",
                        "name": "padesValidationReqDTO",
                        "description": "Parameters needed to execute the validation",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/PadesValidationDTO"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            }
        },
        "/api/v1/padessign/visual": {
            "post": {
                "tags": ["pades-sign-controller"],
                "summary": "padesVisual",
                "operationId": "padesVisualUsingPOST",
                "consumes": ["multipart/form-data"],
                "produces": ["*/*"],
                "parameters": [{
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization token",
                        "required": false,
                        "type": "string"
                    }, {
                        "name": "file",
                        "in": "formData",
                        "description": "file",
                        "required": true,
                        "type": "file"
                    }, {
                        "name": "images",
                        "in": "formData",
                        "description": "images",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "file"
                        },
                        "collectionFormat": "multi"
                    }, {
                        "in": "formData",
                        "name": "padesVisualReqDTO",
                        "description": "padesVisualReqDTO",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/PadesVisualDTO"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/SignatureResponseDTO"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            }
        },
        "/api/v1/ra/modify/{idRequest}": {
            "put": {
                "tags": ["nebula-id-controller-v-1"],
                "summary": "Modify a request certificate",
                "operationId": "modifyRequestUsingPUT",
                "consumes": ["application/json"],
                "produces": ["*/*"],
                "parameters": [{
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization token",
                        "required": false,
                        "type": "string"
                    }, {
                        "name": "idRequest",
                        "in": "path",
                        "description": "idRequest",
                        "required": true,
                        "type": "string"
                    }, {
                        "in": "body",
                        "name": "modifyRequestViewModel",
                        "description": "modifyRequestViewModel",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ModifyRequestViewModel"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Request certificate modified"
                    },
                    "201": {
                        "description": "Created"
                    },
                    "400": {
                        "description": "Bad parameters or invalid request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "Internal error"
                    }
                }
            }
        },
        "/api/v1/ra/renew/{idRequest}": {
            "put": {
                "tags": ["nebula-id-controller-v-1"],
                "summary": "renewCertificate",
                "operationId": "renewCertificateUsingPUT",
                "consumes": ["application/json"],
                "produces": ["*/*"],
                "parameters": [{
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization token",
                        "required": false,
                        "type": "string"
                    }, {
                        "name": "idRequest",
                        "in": "path",
                        "description": "idRequest",
                        "required": true,
                        "type": "string"
                    }, {
                        "in": "body",
                        "name": "renewCertificateViewModel",
                        "description": "renewCertificateViewModel",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/RenewCertificateViewModel"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/CertificateRequestIdDTO"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            },
            "delete": {
                "tags": ["nebula-id-controller-v-1"],
                "summary": "cancelRenewCertificate",
                "operationId": "cancelRenewCertificateUsingDELETE",
                "produces": ["*/*"],
                "parameters": [{
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization token",
                        "required": false,
                        "type": "string"
                    }, {
                        "name": "idRequest",
                        "in": "path",
                        "description": "idRequest",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "204": {
                        "description": "No Content"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            }
        },
        "/api/v1/signature/device/registration": {
            "post": {
                "tags": ["signature-controller"],
                "summary": "registerDevice",
                "operationId": "registerDeviceUsingPOST_1",
                "consumes": ["application/json"],
                "produces": ["*/*"],
                "parameters": [{
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization token",
                        "required": false,
                        "type": "string"
                    }, {
                        "in": "body",
                        "name": "deviceDTO",
                        "description": "deviceDTO",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/DeviceRegistrationDTO"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            }
        },
        "/api/v1/signature/process": {
            "post": {
                "tags": ["signature-controller"],
                "summary": "createProcess",
                "operationId": "createProcessUsingPOST_1",
                "consumes": ["application/json"],
                "produces": ["*/*"],
                "parameters": [{
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization token",
                        "required": false,
                        "type": "string"
                    }, {
                        "in": "body",
                        "name": "processDTO",
                        "description": "processDTO",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ProcessDTO"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/ProcessInfoDTO"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            }
        },
        "/api/v1/signature/process/document/{documentid}": {
            "get": {
                "tags": ["signature-controller"],
                "summary": "getProcessDocument",
                "operationId": "getProcessDocumentUsingGET",
                "produces": ["*/*"],
                "parameters": [{
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization token",
                        "required": false,
                        "type": "string"
                    }, {
                        "name": "documentid",
                        "in": "path",
                        "description": "documentid",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/DocumentDTO"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            }
        },
        "/api/v1/signature/process/myprocesses": {
            "get": {
                "tags": ["signature-controller"],
                "summary": "getUserProcesses",
                "operationId": "getUserProcessesUsingGET",
                "produces": ["*/*"],
                "parameters": [{
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization token",
                        "required": false,
                        "type": "string"
                    }, {
                        "name": "status",
                        "in": "query",
                        "description": "status",
                        "required": false,
                        "type": "string"
                    }, {
                        "name": "startDate",
                        "in": "query",
                        "description": "startDate",
                        "required": false,
                        "type": "string"
                    }, {
                        "name": "endDate",
                        "in": "query",
                        "description": "endDate",
                        "required": false,
                        "type": "string"
                    }, {
                        "name": "page",
                        "in": "query",
                        "description": "page",
                        "required": false,
                        "type": "integer",
                        "default": 0,
                        "format": "int32"
                    }, {
                        "name": "pageSize",
                        "in": "query",
                        "description": "pageSize",
                        "required": false,
                        "type": "integer",
                        "default": 100,
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ProcessListDTO"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            }
        },
        "/api/v1/signature/process/{idProcess}/challenge": {
            "get": {
                "tags": ["signature-controller"],
                "summary": "getStepChallenge",
                "operationId": "getStepChallengeUsingGET",
                "produces": ["*/*"],
                "parameters": [{
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization token",
                        "required": false,
                        "type": "string"
                    }, {
                        "name": "idProcess",
                        "in": "path",
                        "description": "idProcess",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/StepChallengeDTO"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            }
        },
        "/api/v1/signature/process/{processid}": {
            "get": {
                "tags": ["signature-controller"],
                "summary": "getProcess",
                "operationId": "getProcessUsingGET_1",
                "produces": ["*/*"],
                "parameters": [{
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization token",
                        "required": false,
                        "type": "string"
                    }, {
                        "name": "processid",
                        "in": "path",
                        "description": "processid",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ProcessInfoDTO"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            }
        },
        "/api/v1/signature/process/{processid}/file": {
            "post": {
                "tags": ["signature-controller"],
                "summary": "uploadProcessFile",
                "operationId": "uploadProcessFileUsingPOST",
                "consumes": ["multipart/form-data"],
                "produces": ["*/*"],
                "parameters": [{
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization token",
                        "required": false,
                        "type": "string"
                    }, {
                        "name": "processid",
                        "in": "path",
                        "description": "processid",
                        "required": true,
                        "type": "string"
                    }, {
                        "name": "file",
                        "in": "formData",
                        "description": "file",
                        "required": true,
                        "type": "file"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            }
        },
        "/api/v1/signature/process/{processid}/step": {
            "post": {
                "tags": ["signature-controller"],
                "summary": "executeProcessStep",
                "operationId": "executeProcessStepUsingPOST",
                "consumes": ["application/json"],
                "produces": ["*/*"],
                "parameters": [{
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization token",
                        "required": false,
                        "type": "string"
                    }, {
                        "name": "processid",
                        "in": "path",
                        "description": "processid",
                        "required": true,
                        "type": "string"
                    }, {
                        "in": "body",
                        "name": "stepDTO",
                        "description": "stepDTO",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/StepDTO"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            }
        },
        "/api/v1/signature/process/{processid}/step/file": {
            "post": {
                "tags": ["signature-controller"],
                "summary": "executeProcessStepFile",
                "operationId": "executeProcessStepFileUsingPOST",
                "consumes": ["multipart/form-data"],
                "produces": ["*/*"],
                "parameters": [{
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization token",
                        "required": false,
                        "type": "string"
                    }, {
                        "name": "processid",
                        "in": "path",
                        "description": "processid",
                        "required": true,
                        "type": "string"
                    }, {
                        "name": "certificateSigningId",
                        "in": "query",
                        "description": "certificateSigningId",
                        "required": false,
                        "type": "string"
                    }, {
                        "name": "action",
                        "in": "query",
                        "description": "action",
                        "required": true,
                        "type": "string"
                    }, {
                        "name": "comment",
                        "in": "query",
                        "description": "comment",
                        "required": false,
                        "type": "string"
                    }, {
                        "name": "pin",
                        "in": "query",
                        "description": "pin",
                        "required": false,
                        "type": "string"
                    }, {
                        "name": "otp",
                        "in": "query",
                        "description": "otp",
                        "required": false,
                        "type": "string"
                    }, {
                        "name": "otpSession",
                        "in": "query",
                        "description": "otpSession",
                        "required": false,
                        "type": "string"
                    }, {
                        "name": "file",
                        "in": "formData",
                        "description": "file",
                        "required": false,
                        "type": "file"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            }
        },
        "/api/v1/signature/verify": {
            "put": {
                "tags": ["signature-controller"],
                "summary": "verifySignature",
                "operationId": "verifySignatureUsingPUT",
                "consumes": ["multipart/form-data"],
                "produces": ["*/*"],
                "parameters": [{
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization token",
                        "required": false,
                        "type": "string"
                    }, {
                        "name": "file",
                        "in": "formData",
                        "description": "file",
                        "required": true,
                        "type": "file"
                    }, {
                        "name": "trustStore",
                        "in": "formData",
                        "description": "trustStore",
                        "required": false,
                        "type": "file"
                    }, {
                        "in": "formData",
                        "name": "trustStorePassword",
                        "description": "trustStorePassword",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }, {
                        "name": "ocsp",
                        "in": "query",
                        "description": "ocsp",
                        "required": false,
                        "type": "string",
                        "default": "true"
                    }, {
                        "name": "chain",
                        "in": "query",
                        "description": "chain",
                        "required": false,
                        "type": "string",
                        "default": "true"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/VerificationDTO"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            }
        },
        "/api/v1/signature/workflow/myworkflows": {
            "get": {
                "tags": ["signature-controller"],
                "summary": "getUserWorkflows",
                "operationId": "getUserWorkflowsUsingGET",
                "produces": ["*/*"],
                "parameters": [{
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization token",
                        "required": false,
                        "type": "string"
                    }, {
                        "name": "page",
                        "in": "query",
                        "description": "page",
                        "required": false,
                        "type": "integer",
                        "default": 0,
                        "format": "int32"
                    }, {
                        "name": "pageSize",
                        "in": "query",
                        "description": "pageSize",
                        "required": false,
                        "type": "integer",
                        "default": 100,
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/WorkflowListDTO"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": true
            }
        },
        "/api/v1/signature/workflow/{workflowid}": {
            "get": {
                "tags": ["signature-controller"],
                "summary": "getWorkflow",
                "operationId": "getWorkflowUsingGET",
                "produces": ["*/*"],
                "parameters": [{
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization token",
                        "required": false,
                        "type": "string"
                    }, {
                        "name": "workflowid",
                        "in": "path",
                        "description": "workflowid",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/WorkflowDTO"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            }
        },
        "/api/v1/user": {
            "post": {
                "tags": ["user-controller"],
                "summary": "createUser",
                "operationId": "createUserUsingPOST",
                "consumes": ["application/json"],
                "produces": ["*/*"],
                "parameters": [{
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization token",
                        "required": false,
                        "type": "string"
                    }, {
                        "in": "body",
                        "name": "createUserDTO",
                        "description": "createUserDTO",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CreateUserDTO"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            }
        },
        "/api/v1/user/creategroup": {
            "post": {
                "tags": ["user-controller"],
                "summary": "createGroup",
                "operationId": "createGroupUsingPOST_1",
                "consumes": ["application/json"],
                "produces": ["*/*"],
                "parameters": [{
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization token",
                        "required": false,
                        "type": "string"
                    }, {
                        "in": "body",
                        "name": "createGroup",
                        "description": "createGroup",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CreateGroupDTO"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            }
        },
        "/api/v1/user/listgroups": {
            "get": {
                "tags": ["user-controller"],
                "summary": "listGroups",
                "operationId": "listGroupsUsingGET_1",
                "produces": ["*/*"],
                "parameters": [{
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization token",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ListGroupDTO"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            }
        },
        "/api/v1/user/listusers": {
            "get": {
                "tags": ["user-controller"],
                "summary": "listUsers",
                "operationId": "listUsersUsingGET",
                "produces": ["*/*"],
                "parameters": [{
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization token",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ListUserDTO"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": true
            }
        },
        "/api/v1/user/{groupid}/deletegroup": {
            "delete": {
                "tags": ["user-controller"],
                "summary": "deleteGroup",
                "operationId": "deleteGroupUsingDELETE_1",
                "produces": ["*/*"],
                "parameters": [{
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization token",
                        "required": false,
                        "type": "string"
                    }, {
                        "name": "groupid",
                        "in": "path",
                        "description": "groupid",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "204": {
                        "description": "No Content"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            }
        },
        "/api/v1/user/{groupid}/infogroup": {
            "get": {
                "tags": ["user-controller"],
                "summary": "infoGroup",
                "operationId": "infoGroupUsingGET_1",
                "produces": ["*/*"],
                "parameters": [{
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization token",
                        "required": false,
                        "type": "string"
                    }, {
                        "name": "groupid",
                        "in": "path",
                        "description": "groupid",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/InfoGroupDTO"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            }
        },
        "/api/v1/user/{userid}/delete": {
            "delete": {
                "tags": ["user-controller"],
                "summary": "deleteUser",
                "operationId": "deleteUserUsingDELETE",
                "produces": ["*/*"],
                "parameters": [{
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization token",
                        "required": false,
                        "type": "string"
                    }, {
                        "name": "userid",
                        "in": "path",
                        "description": "userid",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "204": {
                        "description": "No Content"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "deprecated": true
            }
        },
        "/api/v1/user/{userid}/infousers": {
            "get": {
                "tags": ["user-controller"],
                "summary": "infoUser",
                "operationId": "infoUserUsingGET",
                "produces": ["*/*"],
                "parameters": [{
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization token",
                        "required": false,
                        "type": "string"
                    }, {
                        "name": "userid",
                        "in": "path",
                        "description": "userid",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/UserDTO"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": true
            }
        },
        "/api/v1/user/{userid}/resetpassword": {
            "post": {
                "tags": ["user-controller"],
                "summary": "resetPassword",
                "operationId": "resetPasswordUsingPOST",
                "consumes": ["application/json"],
                "produces": ["*/*"],
                "parameters": [{
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization token",
                        "required": false,
                        "type": "string"
                    }, {
                        "name": "userid",
                        "in": "path",
                        "description": "userid",
                        "required": true,
                        "type": "string"
                    }, {
                        "in": "body",
                        "name": "request",
                        "description": "request",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ChangeUserPasswordDTO"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            }
        },
        "/api/v1/xadessign/sign": {
            "post": {
                "tags": ["xades-sign-controller"],
                "summary": "xadesSignature",
                "operationId": "xadesSignatureUsingPOST",
                "consumes": ["multipart/form-data"],
                "produces": ["*/*"],
                "parameters": [{
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization token",
                        "required": false,
                        "type": "string"
                    }, {
                        "name": "file",
                        "in": "formData",
                        "description": "file",
                        "required": true,
                        "type": "file"
                    }, {
                        "name": "certId",
                        "in": "query",
                        "description": "certId",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }, {
                        "name": "certPin",
                        "in": "query",
                        "description": "certPin",
                        "required": false,
                        "type": "string"
                    }, {
                        "name": "signContainer",
                        "in": "query",
                        "description": "signContainer",
                        "required": false,
                        "type": "string"
                    }, {
                        "name": "signLevel",
                        "in": "query",
                        "description": "signLevel",
                        "required": false,
                        "type": "string"
                    }, {
                        "name": "signPackage",
                        "in": "query",
                        "description": "signPackage",
                        "required": false,
                        "type": "string"
                    }, {
                        "name": "digestAlgorithm",
                        "in": "query",
                        "description": "digestAlgorithm",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/XadesSignatureResponseDTO"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": true
            }
        },
        "/api/v1/xadessign/validate": {
            "post": {
                "tags": ["xades-sign-controller"],
                "summary": "xadesValidate",
                "operationId": "xadesValidateUsingPOST",
                "consumes": ["multipart/form-data"],
                "produces": ["*/*"],
                "parameters": [{
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization token",
                        "required": false,
                        "type": "string"
[...]
