
# Class org.fundaciobit.pluginsib.signatureweb.fortress.FortressSignatureWebPlugin

# NOTA: Anara a https://pre.firmacloud.com/fortress/ per vuere l'estat del meu usuari.

# Adreça base del sevidor de viafirma fortress
es.caib.portafib.pluginsib.signatureweb.fortress.url=https://pre.firmacloud.com/fortress/

# Dades d'autenticació del sistema
es.caib.portafib.pluginsib.signatureweb.fortress.client_id=caib
es.caib.portafib.pluginsib.signatureweb.fortress.client_secret=40939ba2250c9fd28ba

# Si val false la firma Fortress s'obre en una altra finestra. 
# Si no es defineix o val true llavors es mostra dins de l'iframe
es.caib.portafib.pluginsib.signatureweb.fortress.usesamewindow=false


es.caib.portafib.pluginsib.signatureweb.fortress.debug=true

# màxim 1 minut de connexió i 1 minut de llegir resultat
es.caib.portafib.pluginsib.signatureweb.fortress.connectTimeout=60
es.caib.portafib.pluginsib.signatureweb.fortress.readTimeout=60