

es.caib.sample.pluginsib.signatureweb.nebula.url=https://api-ansmt01.nebulaservice.net
es.caib.sample.pluginsib.signatureweb.nebula.url_auth=https://api.nebulaservice.net/trustedapps/v1

es.caib.sample.pluginsib.signatureweb.nebula.applicationName=MYAPP-NAME
es.caib.sample.pluginsib.signatureweb.nebula.tenantId=8d65d72d-cf05-40ad
es.caib.sample.pluginsib.signatureweb.nebula.appId=133f9228-2235-47db
es.caib.sample.pluginsib.signatureweb.nebula.accessKey=765c0DAC2c20dF623BA94B0a5acD80B39ff697CA6fe2Cdb0c

# En entorn de PRE de NEBULA els certificats no inclouen el NIF, per tant cal ignorar la seva validació
es.caib.sample.pluginsib.signatureweb.nebula.ignoreNifValidation=true

# Si val true, llavors s'imprimeixen més logs
es.caib.sample.pluginsib.signatureweb.nebula.debug=false


# Si val true indica que totes les signatures es realitzin emprant Hash (o trifase)
es.caib.sample.pluginsib.signatureweb.nebula.onlyhashsignatures=false